 div {
     background-color: #17a2b8;
 }

 H4 {
     background-color: red;
 }

 p {
     background-color: #3a17b8;
 }

 button {
     background-color: #1798b8;
 }

 .test_cls {
     background-color: green;
 }