<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>
        <t4 type="title" /> - TERMINALFOUR
        <t4 type="lang-var" default-language="en" en="Intranet" es="Intranet" ar="???????" />
    </title>

    <!-- CSS Files test 14/6/2023 v2-->
    <t4 type="media" id="34" />
    <!-- style.css -->
    <t4 type="media" id="202" />
    <!-- datepicker.css -->
    <t4 type="media" id="302" />
    <!-- print.css -->
    <link rel="SHORTCUT ICON" href="<t4 type=" media " id="660 " />"/>
    <t4 type="media" id="502" xhtml-output="false" />
    <!-- widgets.css -->
    <t4 type="lang-var" default-language="en" en="<!--" es="<!--" ar="" />
    <t4 type="media" id="318" />
    <t4 type="lang-var" default-language="en" en="-->" es="-->" ar="" />

    <t4 type="navigation" id="22" />
    <!-- style_red.css if Blog -->
    <style type="text/css">
        /* Layout properties for your question  */
        
        .question {
            font-weight: bold;
            /* Bold font */
            color: #555555;
            /* The questions is in red */
        }
        
        .answer {
            /* Layout properties - You can change these */
            border: 1px solid #555555;
            padding: 3px;
            width: 500px;
            background-color: #E2EBED;
            /* This one should not be changed */
            display: none;
        }
        
        .image_right {
            float: right;
            padding-left: 5px;
        }
        
        .image_left {
            float: left;
            padding-right: 5px;
        }
    </style>

    <!-- JavaScripts -->
    <!-- navigation object : Include in Header -->
    <t4 type="navigation" id="31" />
    <t4 type="media" id="335" />
    <!-- Detect Mobile Browser -->
    <t4 type="media" id="37" />
    <!-- jQuery 1.3.2 -->
    <t4 type="media" id="310" />
    <!-- jQuery UI 1.7.2.custom -->
    <t4 type="media" id="86" />
    <!-- jQuery Galleria -->
    <t4 type="media" id="181" />
    <!-- Juitter -->
    <t4 type="media" id="450" />
    <!-- jquery.easywidgets.js -->
    <t4 type="media" id="39" />
    <!-- system.js -->
    <t4 type="media" id="460" />
    <!-- gmaps.js -->
    <script type="text/javascript">
        /*
                 (C) www.dhtmlgoodies.com, September 2005
                 
                 This is a script from www.dhtmlgoodies.com. You will find this and a lot of other scripts at our website.
                 
                 Terms of use:
                 You are free to use this script as long as the copyright message is kept intact. However, you may not
                 redistribute, sell or repost it without our permission.
                 
                 Thank you!
                 
                 www.dhtmlgoodies.com
                 Alf Magne Kalleland
                 
                 */
        function showHideAnswer() {
            var numericID = this.id.replace(/[^\\d]/g, '');
            var obj = document.getElementById('a' + numericID);
            if (obj.style.display == 'block') {
                obj.style.display = 'none';
            } else {
                obj.style.display = 'block';
            }
        }


        function initShowHideContent() {
            var divs = document.getElementsByTagName('DIV');
            for (var no = 0; no < divs.length; no++) {
                if (divs[no].className == 'question') {
                    divs[no].onclick = showHideAnswer;
                }

            }
        }

        window.onload = initShowHideContent;
    </script>

    <meta name="DC.Title" content="<t4 type=" title " />, TERMINALFOUR Solutions Ltd." />
    <meta name="DC.Creator" content="TERMINALFOUR Solutions Ltd." />
    <meta name="DC.Publisher" content="TERMINALFOUR Solutions Ltd." />
    <meta name="DC.Format" content="text/xhtml" />
    <meta name="DC.Rights" content="(c) TERMINALFOUR Solutions Ltd. All rights reserved." />
    <meta name="DC.Copyright" content="(c) TERMINALFOUR Solutions Ltd. All rights reserved." />
    <meta name="DC.Coverage" content="Ireland" />
    <meta name="DC.Source" content="TERMINALFOUR Solutions Ltd." />
    <meta name="DC.Language" content="en | es" />
    <meta name="Title" content="<t4 type=" title " />, TERMINALFOUR Solutions Ltd." />
    <meta name="Description" content="<t4 type=" meta " id="6 "/>" />
    <meta name="Keywords" content="<t4 type=" meta " id="1 "/>" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body id="inner">

    <div id="headerwrap">
        <div id="header">
            <div id="titlebar">
                <ul>
                    <t4 type="lang-var" default-language="en" en="<!--" es="" ar="" />
                    <li>
                        <t4 type="navigation" id="16" />
                    </li>
                    <t4 type="lang-var" default-language="en" en="-->" es="" ar="" />
                    <t4 type="lang-var" default-language="en" en="" es="<!--" ar="" />
                    <li>
                        <t4 type="navigation" id="15" />
                    </li>
                    <t4 type="lang-var" default-language="en" en="" es="-->" ar="" />
                    <t4 type="lang-var" default-language="en" en="" es="" ar="<!--" />
                    <li>
                        <t4 type="navigation" id="19" />
                    </li>
                    <t4 type="lang-var" default-language="en" en="" es="" ar="-->" />


                    <li>
                        <div style="float: left; padding-right: 5px;">
                            <t4 type="media" id="298" />
                        </div>
                        <a href="javascript:print();" title="Print This Page">
                            <t4 type="lang-var" default-language="en" en="Print" es="Imprimir" ar="???????" />
                        </a>
                    </li>
                    <li>
                        <!-- navigation object : Link to Site Map -->
                        <t4 type="navigation" id="18" />
                    </li>

                    <li>
                        <form action="<t4 type=" navigation " id="12 " />" method="post"><input type="text" name="q" value="" /><input class="submit" type="submit" value="<t4 type=" lang-var " default-language="en " en="Search " es="Búsqueda " ar="??? " />"/></form>
                    </li>



                </ul>
            </div>


            <h1><a href="<t4 type=" navigation " id="7 " />">TERMINALFOUR <t4 type="lang-var" default-language="en" en="Sample Site" es="Sample Site" ar="???? ??????" /></a></h1>
            <!-- navigation object : Home Link Path -->
        </div>
    </div>

    <div id="topnavwrap">
        <div id="topmenu">
            <ul>
                <!-- navigation object : Link Menu - Top Level -->
                <t4 type="navigation" id="3" />
                <li>
                    <!-- navigation object : Link to Departments -->
                    <t4 type="navigation" id="40" />
                </li>
            </ul>
        </div>
    </div>
    <div id="mainbody">
        <div id="leftcol">
            <div id="menu">
                <!-- navigation object : Link Menu - Recursive Left Nav -->
                <t4 type="navigation" id="2" />

                <!-- navigation object : Calendar RC -->
                <t4 type="navigation" id="8" />
            </div>
            <div id="content">

                <div id="breadcrumb"><strong><t4 type="lang-var" default-language="en" en="You are here" es="Usted está aquí" ar="??? ???" />:</strong>
                    <!-- navigation object : Breadcrumb -->
                    <t4 type="navigation" id="4" />
                </div>_hdr.html