<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" lang="en">
	<head>
		<!--scale the layout to work correctly on moble decives-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!--define the character encoding for the page-->
		<meta charset="UTF-8">
		<title><t4 type="title" /> - CSO - Central Statistics Office</title>
          <!-- navigation object :  Key words --><t4 type="navigation" id="625"/>
          <!-- navigation object :  Last modified --><t4 type="navigation" id="74"/>
          <meta name="DC.Publisher" content="CSO" /> <!-- modified -->
		<!--include main stylesheet - all other stylesheets are embeded within this-->  
		<!--main.css--><t4 type="media" id="86004" formatter="css/*"/>
        <!--earthworm.css--><t4 type="media" id="86000" formatter="css/*"/>
        <!--layout.css--><t4 type="media" id="86002" formatter="css/*"/>
        <!--colours.css--><t4 type="media" id="85996" formatter="css/*"/>
        <!--flexslider.css--><t4 type="media" id="86001" formatter="css/*"/>
        <!--jquery.fancybox.css--><t4 type="media" id="86018" formatter="css/*"/>
        <!--mediaQueries.css--><t4 type="media" id="86005" formatter="css/*"/>
          
		<!--include jQuery-->
		<!--jquery-1.11.1.min.js--><t4 type="media" id="86225" formatter="javascript/*"/>
          
		<!--include Flexslider - used for carousels and image slders-->
		<!--flexslider-min..js--><t4 type="media" id="86226" formatter="javascript/*"/>
          
		<!--include Fancyboc - used for modal windows-->
		<!--jquery.fancybox.js--><t4 type="media" id="86223" formatter="javascript/*"/>
          
		<!--include High Charts-->
          <!-- removed jc 13/02/14  
		<script src="assets/highcharts/js/highcharts.js"></script>
		<script src="assets/highcharts/js/highcharts-3d.js"></script>
		<script src="assets/highcharts/js/modules/exporting.js"></script>-->
          
		<!--include sitewide JavaScript for cso.ie-->
		<!--site.js--><t4 type="media" id="86227" formatter="javascript/*"/>
          
      
<script> 
//js to set current tab to active on main nav DR

    $(document).ready(function () {


        var theme = '<t4 type="navigation" id="70"/>';

        //alert(theme);

        if (theme.length == '0') {
            $("#homeTab").addClass("currentbranch0");
            // alert('I am here');
        }

        else if (theme == 'Statistics' || theme == 'Releases and Publications') {

            $("#statisticsTab").addClass("currentbranch0");

        }

        else if (theme == 'Databases') {

            $("#databasesTab").addClass("currentbranch0");

        }


        else if (theme == 'Surveys and Methodology') {

            $("#methodsTab").addClass("currentbranch0");

        }

        else if (theme == 'About Us') {

            $("#aboutUsTab").addClass("currentbranch0");

        }


        else {
            //do nothing
        }


    });

    //end main nav JS DR
</script>

 
<!-- ********** HEADER ********** -->
		<!-- navigation object : Header code --><t4 type="navigation" id="496"/>	
      <!--/mainNav-->
      
		<!-- ********** CONTENT ********** -->
		<div class="container content">
			<div class="row pageHeader">
				<div class="col span12">
					<div id="breadcrumbs">
						<span class="youarehere">You are here: </span> &gt;
						<!-- navigation object : Breadcrumb --><t4 type="navigation" id="69"/>
					</div><!--/breadcrumb-->
				</div><!--/col-->
				<div class="col span12">
					<h1>Competitions and Awards</h1>
				</div><!--/col-->				
			
          </div><!--/row-->

         <div class="row">
				<div class="col span12">
					<div class="module open surveyblue">
						<div class="moduleHeader">
							<h2><a href="#">CSO Schools Competitions and Awards</a></h2>
						</div>
						<div class="moduleBody">
							<ul style="padding: 10px;">Every year the CSO organises and is affiliated to a number of national and international statistical competitions. CSO competitions help students to develop their analytical and graphical skills and allow students to participate and work together in teams.
If you are participating in the Gaisce President’s Awards you may also be able to use your entry in the CSO John Hooper Statistical Poster Competition as a Gaisce Award challenge under the Personal Skills section.
For  information on any of our competitions subscribe to our email list <a href="mailto:studentcompetitions@cso.ie">studentcompetitions@cso.ie</a>.           
							</ul>
						</div>
					</div><!--/module-->
							
            
					</div><!--/module-->
           
			</div><!--/row-->
            
    <div class="row">
				<div class="col span3">
                  
                   <div class="sideitem green">
						<h3><a  href="<t4 type="navigation" id="1303"/>">John Hooper Competition<i class="fa fa-area-chart"></i></a></h3></i>
                     <p>John Hooper Medal for Statistics</p>
                    
						<a class="btn" href="<t4 type="navigation" id="1303"/>">Go to John Hooper Competition</a>
					</div><!--/sideitem-->
                  
                </div><!--/col-->
              
              <div class="col span3">
                
                 <div class="sideitem pink">
						<h3><a  href="<t4 type="navigation" id="1304"/>">Best Use of CSO Open Data<i class="fa fa-code-fork"></i></a></h3>
                     <p>Award for Best Use of CSO Open Data At BTYSTE</p>
                    
						<a class="btn" href="<t4 type="navigation" id="1304"/>">Go to Open Data Award</a>
					</div><!--/sideitem-->
                  
                </div><!--/col-->
              
              <div class="col span3">
                
                  <div class="sideitem teal">
						<h3><a  href="<t4 type="navigation" id="1305"/>">European Statistics Competition<i class="fa fa-film"></i></a></h3>
                     <p>ESC Video Competition</p>
                    
						<a class="btn" href="<t4 type="navigation" id="1305"/>">Go to European Statistics Competition</a>
					</div><!--/sideitem-->
                  
                </div><!--/col-->
              
               <div class="col span3">
                
                  <div class="sideitem purple">
						<h3><a  href="<t4 type="navigation" id="1306"/>">ISLP Competition<i class="fa fa-file-photo-o"></i></a></h3>
                     <p>International Statistical Literacy Poster Competition</p>
                    
						<a class="btn" href="<t4 type="navigation" id="1306"/>">Go to ISLP Competition</a>
					</div><!--/sideitem-->
                  
                </div><!--/col-->
				
			</div><!--/row-->
            
          
          <div class="row">
				<div class="col span6">
					<div class="module open surveyblue">
						<div class="moduleHeader">
							<h2><a href="#">CSO Awards Ceremony</a></h2>
						</div>
						<div class="moduleBody">
							<ul>
                              <li><!-- navigation object : Path: CSO Awards Ceremony 2022 --><t4 type="navigation" id="1307"/></li> 
                              <li><!-- navigation object : Path: CSO Awards Ceremony 2019 --><t4 type="navigation" id="1308"/></li>
                              								                           
                              
							</ul>
						</div>
					</div><!--/module-->
                 
					
					
				</div><!--/col-->
				<div class="col span6">
                  
<!--         NOT IN USE        
                   <div class="module open yellow">
						<div class="moduleHeader">
							<h2><a href="#">Other Competitions</a></h2>
						</div>
						<div class="moduleBody">
							<ul>
                              
								<li><t4 type="navigation" id="1311"/></li>
                                                          

							</ul>
						</div>
					</div>-->
          
          <!--/module-->


					 
					      
                 </div><!--/col-->
				
			</div><!--/row-->

          
           
        </div><!--/content-->_hdr.html