<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" lang="en">
	<head>
		<!--scale the layout to work correctly on moble decives-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!--define the character encoding for the page-->
		<meta charset="UTF-8">
		<title><t4 type="title" /> - CSO - Central Statistics Office</title>
          <!-- IE compatibility mode fix--><meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!--main.css--><t4 type="media" id="86004" formatter="css/*"/>
        <!--earthworm.css--><t4 type="media" id="86000" formatter="css/*"/>
        <!--layout.css--><t4 type="media" id="86002" formatter="css/*"/>
        <!--colours.css--><t4 type="media" id="85996" formatter="css/*"/>
        <!--flexslider.css--><t4 type="media" id="86001" formatter="css/*"/>
        <!--jquery.fancybox.css--><link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.css" rel="stylesheet">
        <!--mediaQueries.css--><t4 type="media" id="86005" formatter="css/*"/>
		
        <!--include jQuery-->
		<!--jquery-1.11.1.min.js--><t4 type="media" id="86225" formatter="javascript/*"/>
		
        
        <!--include Flexslider - used for carousels and image slders-->
		<!--jquery.flexslider-min.js--><t4 type="media" id="86226" formatter="javascript/*"/>
          
		<!--include Fancybox - used for modal windows-->
		<!--jquery.fancybox.js--><!--jquery.fancybox.js--><script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
          
          <!--include High Charts-->
		<script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
       <!-- <script type="text/javascript" src="https://code.highcharts.com/maps/modules/map.js"></script>
        <script type="text/javascript" src="https://code.highcharts.com/maps/highmaps.js"></script>-->
        <script type="text/javascript" src="https://code.highcharts.com/modules/data.js"></script>
        <script type="text/javascript" src="https://code.highcharts.com/highcharts-more.js"></script>
        <script type="text/javascript" src="https://code.highcharts.com/maps/modules/exporting.js"></script> 

		<!--include sitewide JavaScript for cso.ie-->
		<!--site.js--><t4 type="media" id="86227" formatter="javascript/*"/>
      
		  <script> 
			//js to set current tab to active on main nav DR
			
				$(document).ready(function () {
			
			
					var theme = '<t4 type="navigation" id="70"/>';
			
			  //alert(theme);
			
					if (theme.length == '0') {
						$("#homeTab").addClass("currentbranch0");
						// alert('I am here');
					}
			
					else if (theme == 'Statistics' || theme == 'Releases and Publications') {
			
						$("#statisticsTab").addClass("currentbranch0");
			
					}
			
					else if (theme == 'Databases') {
			
						$("#databasesTab").addClass("currentbranch0");
			
					}
			
			
					else if (theme == 'Surveys and Methodology') {
			
						$("#methodsTab").addClass("currentbranch0");
			
					}
			
					else if (theme == 'About Us') {
			
						$("#aboutUsTab").addClass("currentbranch0");
			
					}
			
			
					else {
						//do nothing
					}
			
			
				});
			
				//end main nav JS DR
			</script>
				 

 
       
 <!-- start header -->

		<!-- ********** HEADER ********** -->
		<!-- navigation object : Header code --><t4 type="navigation" id="496"/>	
      <!--/mainNav-->


		<!-- ********** CONTENT ********** -->
		<div class="container content">
          <!-- end header -->

			<div class="row pageHeader">
				<div class="col span12">
					<div id="breadcrumbs">
						<span class="youarehere">Tá tú anseo: </span> &gt;
						<!-- navigation object : Breadcrumb --><t4 type="navigation" id="69"/>
					</div><!--/breadcrumb-->
				</div><!--/col-->
				<div class="col span12">
					<h1>Oideachas agus L&eacute;irshamhl&uacute;</h1>
				</div><!--/col-->				
		
	  		</div><!--/row-->          
          
			<div class="row modules">
				<div class="col span4">

					<div class="module magenta">
						<div class="moduleHeader">
							<h2><a href="#">Comórtais agus Duaiseanna</a></h2>
						</div>
						<div class="moduleBody">
							<ul>
								<!-- navigation object : Competitions &amp; Awards --><t4 type="navigation" id="1388"/>
							</ul>
						</div>		
						<div class="moduleFooter">
							<a class="btn" href="<t4 type="navigation" id="1392"/>" >com&oacute;rtais agus duaiseanna ar fad <i class="fa fa-angle-right"></i></a>							
						</div>				
					</div><!--/module-->
				  
                    <!-- <div class="sideitem cobalt">
						<h3><a href="<t4 type="navigation" id="1107"/>">CSO at Events<i class="fa fa-users"></i></a></h3>
						<p>Meet CSO staff, learn about what we do and see demos of CSO interactive tools</p>
						<div class="sideitemFooter">
							<a class="btn" href="<t4 type="navigation" id="1107"/>">go to CSO events <i class="fa fa-angle-right"></i></a>
						</div>
					</div>/sideitem -->

					<div class="module csoblue">
						<div class="moduleHeader">
							<h2><a href="#">Acmhainn&iacute; Teagaisc</a></h2>
						</div>
						<div class="moduleBody">
							<ul>
								<!-- navigation object : Teaching Resources --><t4 type="navigation" id="1389"/>
							</ul>
						</div>						
					</div><!--/module-->
				  
					<div class="module mint">
						<div class="moduleHeader">
							<h2><a href="#">Acmhainn&iacute; Foghlama</a></h2>
						</div>
						<div class="moduleBody">
							<ul>
								<!-- navigation object : Learning Resources --><t4 type="navigation" id="1390"/>
							</ul>
						</div>						
					</div><!--/module-->
				  
                    <div class="sideitem violet">
						<h3><a href="https://www.census.ie/ga/census-2022/census-in-schools/" target="_blank">Acmhainn&iacute; ar Dhaon&aacute;ireamh na h&Eacute;ireann<i class="fa fa-info"></i></a></h3>
                      	<p>Ceachtanna ranga agus tuilleadh acmhainn&iacute; foghlama faoi Dhaon&aacute;ireamh na h&Eacute;ireann</p>
						<div class="sideitemFooter">
							<a class="btn" href="https://www.census.ie/ga/census-2022/census-in-schools/" target="_blank">t&eacute;igh go hacmhainn&iacute; scoile an Daon&aacute;irimh</a>
						</div>
					</div>

					<div class="sideitem teal">
						<h3><a  href="https://visual.cso.ie/?body=entity/ima/cop/2022" target="_blank">L&eacute;argas ar do cheantar <i class="fa fa-map-marker"></i></a></h3>
                     	<p>F&eacute;ach staitistic&iacute; faoi do cheantar c&oacute;naithe leis an aip map&aacute;la daon&aacute;irimh</p>
						 <div class="sideitemFooter">
							<a class="btn" href="https://visual.cso.ie/?body=entity/ima/cop/2022" target="_blank">t&eacute;igh chuig an aip map&aacute;la daon&aacute;irimh <i class="fa fa-angle-right"></i></a>
						</div>
					</div><!--/sideitem-->	
					
					
				</div><!--/col-->
				<div class="col span4">

					<div class="sideitem blue">
						<h3><a href="<t4 type="navigation" id="768"/>">Grafaic&iacute; Faisn&eacute;ise <i class="fa fa-picture-o"></i></a></h3>
						<p>F&eacute;ach ar ghrafaic&iacute; faisn&eacute;ise CSO de r&eacute;ir t&eacute;ama</p>
						<div class="sideitemFooter">
							<a class="btn" href="<t4 type="navigation" id="768"/>">t&eacute;igh go grafaic&iacute; faisn&eacute;ise <i class="fa fa-angle-right"></i></a>
						</div>
					</div><!--/sideitem-->


                  
                  	<div class="module pink">
						<div class="moduleHeader">
							<h2><a href="#">L&eacute;irshamhl&uacute; Idirghn&iacute;omhach</a></h2>
							<!-- <p>Discover our interactive data visualisations for baby names, birthdays, property prices, popular vehicles and more. Or explore statistics on your local area with our interactive maps.</p> -->
						</div><!-- /moduleHeader-->
						<div class="moduleBody">
							<img src="<t4 type="media" formatter="path/*" id="371320" />" />
						</div>
                      <div class="moduleFooter">							
                        <a class="btn" href="<t4 type="navigation" id="656"/>" >t&eacute;igh go uirlis&iacute; l&eacute;irshamlaithe <i class="fa fa-angle-right"></i></a>
						</div>	
					</div><!--/module-->
                   
					<div class="module">                    
						<div class="flexsliderIZ">
							<ul class="slides">								   
								<t4 type="navigation" id="1401"/> 
							</ul>
	  					</div>
					</div>
						 
                 
				</div><!--/col-->
				<div class="col span4">

					<div class="module softgreen">
						<div class="moduleHeader">
							<h2><a href="#">F&iacute;se&aacute;in CSO</a></h2>
						</div>
						<div class="moduleBody">
                          	<div class="videowrapper">                                                    
                          		<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/whuk0cPt96c?rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>                     
                          	</div>					
						</div>
					</div><!--/module-->
<!--                   
                    <div class="module yellow">
						<div class="moduleHeader">
							<h2><a href="#">CensusAtSchool</a></h2>
						</div>
						<div class="moduleBody censusAtSchool">                          
                        	<ul>
                            	<li><a href="<t4 type="navigation" id="650"/>">Census at School Releases</a>  </li>
                            	<li><a href="http://www.censusatschool.ie/" target="_blank">Census at School Website</a>  </li>
                          	</ul>                       												
						</div>                                        
					</div> -->

					<div class="module yellow">
						<div class="moduleHeader">
							<h2><a href="#">Daon&aacute;ireamhArScoil</a></h2>
						</div>
						<div class="moduleBody">
							<ul>
								<!-- navigation object : Census at School --><t4 type="navigation" id="1391"/>
							</ul>
						</div>						
					</div><!--/module-->

          <!-- Highchart disabled --
           <div class="module teal">
               	<t4 type="navigation" id="1402"/><!--Highchart-->					
					<!--	<div class="moduleFooter">
										<a class="btn" href="<t4 type="navigation" id="646"/>">t&eacute;igh go dt&iacute; an eisi&uacute;int <i class="fa fa-angle-right"></i></a>
								</div>	
           </div><!--/module-->
                  


				</div><!--/col-->
			</div><!--/row-->
		</div><!--/content-->

_hdr.html