</div><!--/copy-->


</div> <!--close copy div and LHS div -->

<div class="col columnRightinner-rightcol">
  <div class="copy">


					<div class="module publicationMenu publicationMenuFrontier">
						<div class="moduleHeader">
							<h2><a href="#">Contents</a></h2>
						</div>
						<div class="moduleBody">
							<t4 type="navigation" id="775"/>
						</div>						
					</div>

    		<t4 type="navigation" name="Electronic Pub related sidebar" id="1357" />

        <div class="sideitem light-purple minimised">
            <h3><a href="<t4 type="navigation" id="1495"/>">Why you can Trust the CSO</a></h3>
            <p>Learn about our data and confidentiality safeguards, and the steps we take to produce statistics that can be trusted by all.  </p>
            <div class="sideitemFooter">
              <a class="btn" href="<t4 type="navigation" id="1495"/>">go to trust &amp; transparency <i class="fa fa-angle-right"></i></a>
            </div>
        </div>    
    
        
				</div> <!-- /copy -->
			</div><!--/col-->
           
		</div><!--/content-->

<!-- start footer -->
<!-- navigation object : Footer code --><t4 type="navigation" id="497"/>	
<!-- end footer -->