<script>
  
  $(document).ready(function(){
  var theme = '<t4 type="navigation" id="70"/>';
    
    if(theme == 'Baile') {
     // $("#electronic-pub-v2-chapters-text").text("Clár Ábhair");
    }
    else {
     // $("#electronic-pub-v2-chapters-text").text("Contents")
    }
      
});
  
  
</script>

</div><!--/copy-->


</div> <!--close copy div and LHS div -->

<div class="col columnRightinner-rightcol">
  <div class="copy">


				<div class="module purple publicationMenu">
						<div class="moduleHeader">
							<h2><a id="electronic-pub-v2-chapters-text" href="#">Contents</a></h2>
						</div>
						<div class="moduleBody">
							<t4 type="navigation" id="775"/>
						</div>
				</div>
    
    		<t4 type="navigation" name="Electronic Pub related sidebar" id="1357" />

	</div><!--/copy-->
</div><!--/col-->
           
</div><!--/content-->

<!-- start footer -->
<!-- navigation object : Footer code --><t4 type="navigation" id="497"/>	
<!-- end footer -->_hdr.html