<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" lang="en">
	<head>
		<!--scale the layout to work correctly on moble decives-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!--define the character encoding for the page-->
		<meta charset="UTF-8">
		<title><t4 type="title" /> - CSO - Central Statistics Office</title>
          <!-- navigation object :  Key words --><t4 type="navigation" id="625"/>
          <!-- navigation object :  Last modified --><t4 type="navigation" id="74"/>
          <meta name="DC.Publisher" content="CSO" /> <!-- modified -->
          <!-- start css -->
          <!-- IE compatibility mode fix--><meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!--main.css--><t4 type="media" id="86004" formatter="css/*"/>
        <!--earthworm.css--><t4 type="media" id="86000" formatter="css/*"/>
        <!--layout.css--><t4 type="media" id="86002" formatter="css/*"/>
        <!--colours.css--><t4 type="media" id="85996" formatter="css/*"/>
        
        <!--jquery.fancybox.css--><link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.css" rel="stylesheet">
        <!--mediaQueries.css--><t4 type="media" id="86005" formatter="css/*"/>
          
          
          <t4 type="media" id="55464" /><!-- publications -->
    <t4 type="media" id="64740" />   <!--yearbook -->
          <t4 type="media" id="123445" />   <!--ep_new.css -->
          <t4 type="media" id="177582" />   <!--illustrated-chapter.css -->
          <t4 type="media" id="177970"/> <!--infobyte-chapter.css -->
          <t4 type="content" name="color" output="normal" modifiers=""  /> <!--colours.css-->
       
          
		
        <!--include jQuery-->
		<!--jquery-1.11.1.min.js--><t4 type="media" id="86225" formatter="javascript/*"/>
		
       
          <!--include High Charts-->
		  <script type="text/javascript" src="https://code.highcharts.com/9.3.3/highcharts.js"></script>
    <script src="https://code.highcharts.com/9.3.3/highcharts-3d.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/maps/9.3.3/modules/map.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/9.3.3/modules/data.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/9.3.3/highcharts-more.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/maps/9.3.3/modules/exporting.js"></script>

          
        
        <!--include Flexslider - used for carousels and image slders-->
		<!--jquery.flexslider-min.js--><t4 type="media" id="86226" formatter="javascript/*"/>
          
		<!--include Fancybox - used for modal windows-->
		<!--jquery.fancybox.js--><script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
          <!--flexslider.css<t4 type="media" id="86001" formatter="css/*"/>-->
          

          <!--include sitewide JavaScript for cso.ie-->
		<!--site.js--><t4 type="media" id="86227" formatter="javascript/*"/>
          
          
          
            <t4 type="media" id="57516" /> <!-- javascript functions  -->
          
          <t4 type="media" id="778" /><!-- scripts.js -->
        <t4 type="media" id="55621" /> <!--print individual indicator -->
        <t4 type="media" id="52609" /><!-- slide menu mobile -->
        <t4 type="media" id="53959" /><!-- google analytics -->
        <t4 type="media" id="55490" /><!-- jquery.corner.js -->        
        <t4 type="media" id="55491" /><!-- rounded_corner.js -->
          
          
          <!--START HIGHSLIDES-->  
                     
               <t4 type="media" id="60957" formatter="javascript/*"/><!--highslide full-->
                  <!--<t4 type="media" id="60959" formatter="javascript/*"/>mobile highslides-->
                  <t4 type="media" id="60958" formatter="css/*"/><!--highslide.css-->
                  
           <script type="text/javascript">
             //hs.graphicsDir = '/images/highslide/graphics/';
             
            hs.graphicsDir = 'https://cdn.cso.ie/static/img/highslide/'
    hs.outlineType = 'rounded-white';
            hs.align = 'center';
             hs.showCredits = false;
             
</script>
                  
                    
                <!--END HIGHSLIDES--> 
          
          
          
          <!--excel tables styles-->
          <style type="text/css">
      <t4 type="exceltohtml" name="Insert Excel Table 1" default-font="font-family:arial;font-size:10pt;" />
      </style>
          
          <style type="text/css">
<t4 type="exceltohtml" name="Insert Excel Table" default-font="font-family:arial;font-size:10pt;" />
</style>

          
          
          
          
          
          
          
         <!-- end css --> 
          
          
		          
          
          
           <style type="text/css">
<t4 type="exceltohtml" name="Insert Excel Table" default-font="font-family:arial;font-size:10pt;" />
</style>
           
<script> 
//js to set current tab to active on main nav DR

    $(document).ready(function () {


        var theme = '<t4 type="navigation" id="70"/>';

  //alert(theme);

        if (theme.length == '0') {
            $("#homeTab").addClass("currentbranch0");
            // alert('I am here');
        }

        else if (theme == 'Statistics' || theme == 'Releases and Publications') {

            $("#statisticsTab").addClass("currentbranch0");

        }

        else if (theme == 'Databases') {

            $("#databasesTab").addClass("currentbranch0");

        }


        else if (theme == 'Surveys and Methodology') {

            $("#methodsTab").addClass("currentbranch0");

        }

        else if (theme == 'About Us') {

            $("#aboutUsTab").addClass("currentbranch0");

        }


        else {
            //do nothing
        }


    });

    //end main nav JS DR
</script>
          
        
          
          

      <!-- start header --> 

		<!-- ********** HEADER ********** -->
		<!-- navigation object : Header code --><t4 type="navigation" id="496"/>	
      <!--/mainNav-->
         <!-- end header -->   
            <!-- ********** CONTENT ********** -->
		<div class="container content">
			<div class="row pageHeader">
				<div class="col span12">
					<div id="breadcrumbs">
						<span class="youarehere">You are here: </span> 
                       <a href="<t4 type="navigation" id="93"/>">Home</a> / <a href="<t4 type="navigation" id="63"/>">Statistics</a>  /
						<!-- navigation object : Breadcrumb --><t4 type="navigation" id="657"/>
					</div><!--/breadcrumb-->
				</div><!--/col-->
                 
<script>
   $(function(){
   
   var publicationTitle = escape("<t4 type="navigation" id="778"/>");
   var chapterTitle = escape("<t4 type="title"/>");
    
   
   if(publicationTitle == chapterTitle) {
   
   $( "#chapterTitle" ).hide();
   } 
   
   });    
        
</script>
              
                           
				<div class="col span12">
					
                  <h1 id="pageTitle"><t4 type="navigation" id="778"/>  </h1>
                  
                  
				</div><!--/col-->

			</div><!--/row-->
          
        
          
          <div  class="row">	
            
          </div><!--/row-->
          
			<div class="row mainContent">
              
              <div class="col span12" id="chapterTitleWrapper">
                  
                  <h2 id="chapterTitle"><t4 type="title" /></h2>
                  
				</div><!--/col-->
              
				<div id="columnLeft" class="col columnLeftinner-rightcol">
					<div class="copy">
                      _hdr.html