</div>
   </div>
</div>
<div id="footer"><div class="row m-4"></div>
  <div class="container-fluid fixed-bottom bg-light border-top p-2">
      <div class="row">
          <div name="links" class="col small text-muted">
          <a href="https://www.cso.ie/en/index.html" class="text-muted" target="_blank">CSO.ie</a> | <a href="https://www.cso.ie/en/aboutus/contactus" class="text-muted" target="_blank">Contact Us</a> | <a href="https://www.cso.ie/en/aboutus/lgdp/dataprotectiontransparency/websiteprivacystatement" class="text-muted" target="_blank">Privacy</a> | <a href="https://www.cso.ie/en/aboutus/whoweare/copyrightpolicy" class="text-muted" target="_blank">Copyright</a> | <a href="https://www.cso.ie/en/freedomofinformation" class="text-muted" target="_blank">Freedom of Information</a></div>
      </div>
  </div>  
 
  </div>
 

</body>

</html>
_hdr.html