<!DOCTYPE html>
<html>
<head>
<title>ER - Headline Image</title>
  <!--include jQuery-->
		<!--jquery-1.11.1.min.js--><t4 type="media" id="86225" formatter="javascript/*"/>
  
  <!--include High Charts-->
		<script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/maps/modules/map.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/maps/highmaps.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/modules/data.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/highcharts-more.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/maps/modules/exporting.js"></script>
          
  <script src="https://code.highcharts.com/highcharts-3d.js"></script>
  
  
  
</head>
<body>_hdr.html