<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" lang="en">
	<head>
		<!--scale the layout to work correctly on moble decives-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--define the character encoding for the page-->
		<meta charset="UTF-8">
		<title><t4 type="title" /> - CSO - An Phr&iacute;omh-Oifig Staidrimh</title>
          <!-- navigation object :  Key words --><t4 type="navigation" id="625"/>
          <!-- navigation object :  Last modified --><t4 type="navigation" id="74"/>
          
          <!-- IE compatibility mode fix--><meta http-equiv="X-UA-Compatible" content="IE=edge">

          
          <meta name="DC.Publisher" content="CSO" /> <!-- modified -->
        <!--main.css--><t4 type="media" id="86004" formatter="css/*"/>
        <!--earthworm.css--><t4 type="media" id="86000" formatter="css/*"/>
        <!--layout.css--><t4 type="media" id="86002" formatter="css/*"/>
        <!--colours.css--><t4 type="media" id="85996" formatter="css/*"/>
        <!--flexslider.css--><t4 type="media" id="86001" formatter="css/*"/>
        <!--jquery.fancybox.css--><t4 type="media" id="86018" formatter="css/*"/>
        <!--mediaQueries.css--><t4 type="media" id="86005" formatter="css/*"/>
		
        <!--include jQuery-->
		<!--jquery-1.11.1.min.js--><t4 type="media" id="86225" formatter="javascript/*"/>
		
        
        <!--include Flexslider - used for carousels and image slders-->
		<!--jquery.flexslider-min.js--><t4 type="media" id="86226" formatter="javascript/*"/>
          
		<!--include Fancyboc - used for modal windows-->
		<!--jquery.fancybox.js--><t4 type="media" id="86223" formatter="javascript/*"/>
          

		<!--include sitewide JavaScript for cso.ie-->
		<!--site.js--><t4 type="media" id="86227" formatter="javascript/*"/>
          
          <!--include High Charts-->
          <script type="text/javascript" src="https://code.highcharts.com/9.3.3/highcharts.js"></script>
          <script type="text/javascript" src="https://code.highcharts.com/maps/9.3.3/modules/map.js"></script>
      <script type="text/javascript" src="https://code.highcharts.com/9.3.3/modules/data.js"></script>
      <script type="text/javascript" src="https://code.highcharts.com/9.3.3/highcharts-more.js"></script>
      <script type="text/javascript" src="https://code.highcharts.com/maps/9.3.3/modules/exporting.js"></script>
                
                
          
          <script>
//js to set current tab to active on main nav DR

$(document).ready(function() {


var theme = '<t4 type="navigation" id="70"/>';

//alert(theme);

if(theme.length == '0') {
	$( "#homeTab" ).addClass( "currentbranch0" );
   // alert('I am here');
} 

else if(theme == 'Statistics' || theme == 'Releases and Publications') {

$( "#statisticsTab" ).addClass( "currentbranch0" );

}

else if(theme == 'Databases') {

$( "#databasesTab" ).addClass( "currentbranch0" );

}


else if(theme == 'Surveys and Methodology') {

$( "#methodsTab" ).addClass( "currentbranch0" );

}

else if(theme == 'About Us') {

$( "#aboutUsTab" ).addClass( "currentbranch0" );

}


else {
	//do nothing
}


});

//end main nav JS DR

</script>
          
          
	
		<!-- ********** HEADER ********** -->
		<!-- navigation object : Header code --><t4 type="navigation" id="574"/>	
      <!--/mainNav-->
            
            <!-- ********** CONTENT ********** -->
		<div class="container content homepage">
			         
                           
		
          
                   
			<div class="row quickStats">
				<div class="col span12">
					<div class="carousel ">
						<ul class="slides">
          <!-- navigation object : Home: QuickStats --><t4 type="navigation" id="694"/>
          </ul></div>
					<!--/carousel-->
					<a href="javascript:" class="toggleQuickStatsGa">Taispe&aacute;in a thuilleadh <i class="fa fa-angle-down"></i></a>
				</div><!--/col-->
			</div><!--/row-->
          
          
          
          
       
         <div class="row modules">
				
            <div class="col span4"> 

                <div class="module green open">
                    <div class="moduleHeader">
                        <h2><a href="#">Nuacht is Déanaí</a></h2>
                    </div>
                    <div class="moduleBody">
                        <ul>
                            <!-- navigation object : News Corner Box --><t4 type="navigation" id="202"/>
                        </ul>
                    </div>
                    <div class="moduleFooter">
                        <a class="btn" href="<t4 type="navigation" id="1446"/>">Preasr&aacute;itis <i class="fa fa-angle-right"></i></a>
                    </div>
                    <div class="moduleFooter">
                        <a class="btn" href="<t4 type="navigation" id="1447"/>">Eisi&uacute;int&iacute;<i class="fa fa-angle-right"></i></a>
                    </div>
                </div><!--/module-->

                <div class="module teal open">
                    <div class="moduleHeader">
                        <h2><a href="#">Bhuaicpoint&iacute; Staitisti&uacute;la</a></h2>
                    </div>
                    <div class="moduleBody">
                        <ul>
                            <!-- navigation object : Stat Highlights Box --><t4 type="navigation" id="1513"/>
                        </ul>
                    </div>
                </div><!--/module-->            
     
                <div class="sideitem cobalt">
                    <h3><a href="<t4 type="navigation" id="1507"/>">Is f&eacute;idir iontaoibh a chur sa Phr&iacute;omh-Oifig Staidrimh <i class="fa-solid fa-shield-halved"></i></a></h3>
                    <p>D&eacute;antar an t-&aacute;bhar staitistice a thiomsa&iacute;onn an Phr&iacute;omh-Oifig Staidrimh a dheimhni&uacute; go neamhsple&aacute;ch, luaitear go soil&eacute;ir na modhanna oibre agus na foins&iacute; ar fad a &uacute;s&aacute;idtear agus clo&iacute;tear leis na caighde&aacute;in idirn&aacute;isi&uacute;nta is airde</p>
                    <div class="sideitemFooter">
                                <a class="btn" href="<t4 type="navigation" id="1507"/>">t&eacute;igh chuig Iontaoibh agus Tr&eacute;dhearcacht <i class="fa fa-angle-right"></i></a>
                    </div>
                </div><!--/sideitem--> 
    
           </div><!--/col-->

        <div class="col span4">
    
            <div class="sideitem purple">
                <h3 class="imgblock no-bg"><a href="<t4 type="navigation" id="1504" />">75 bliain den Phr&iacute;omh-Oifig Staidrimh <t4 type="media" formatter="image/*" id="482808" /></a></h3>
                <p>Buna&iacute;odh an Phr&iacute;omh-Oifig Staidrimh in 1949, agus t&aacute; muin&iacute;n inti le 75 bliain chun staidreamh neamhsple&aacute;ch agus l&eacute;argas faoi shocha&iacute; na h&Eacute;ireann a fhoilsi&uacute;</p>
                <div class="sideitemFooter">
                    <a class="btn" href="<t4 type="navigation" id="1504" />">t&eacute;igh chuig 75 bliain den Phr&iacute;omh-Oifig Staidrimh <i class="fa fa-angle-right"></i></a>
                </div>                     
            </div> <!-- /sideitem -->               
                
            <div class="module teal open">
				<div class="moduleHeader">
					<h2><a href="#">&Aacute;bair Oideachais</a></h2>
				</div>
				<div class="moduleBody">
					<ul>
						<!-- navigation object : GA Education Box --><t4 type="navigation" id="1514"/>
					</ul>
				</div>
			</div><!--/module-->         

            <div class="sideitem cobalt">
                <h3><a href="<t4 type="navigation" id="1439"/>">Oideachas agus L&eacute;irshamhl&uacute; <i class="fa fa-lightbulb-o fa-lg"></i></a></h3>
                <p>T&aacute; l&eacute;irshamhlaithe, grafaic&iacute; faisn&eacute;ise, acmhainn&iacute; scoile, com&oacute;rtais agus n&iacute;os m&oacute; in&aacute;r z&oacute;n idirghn&iacute;omha&iacute;ochta...</p>
                <div class="sideitemFooter">
                <a class="btn" href="<t4 type="navigation" id="1439"/>">T&eacute;igh chuig oideachas agus l&eacute;irshamhl&uacute; <i class="fa fa-angle-right"></i></a>
                </div>
            </div><!--/sideitem-->
            
            <div class="module purple open">
				<div class="moduleHeader">
					<h2><a href="#">&Aacute;bair Chorpar&aacute;ideacha</a></h2>
				</div>
				<div class="moduleBody">
					<ul>
						<!-- navigation object : GA Corporate Box --><t4 type="navigation" id="1515"/>
					</ul>
				</div>
                <div class="moduleFooter">
                    <a class="btn" href="<t4 type="navigation" id="1517"/>">Dualgais agus Sc&eacute;im Teanga CSO <i class="fa fa-angle-right"></i></a>
                </div>
            </div><!--/module-->            

            <div class="sideitem pink">
                <h3><a href="<t4 type="navigation" id="859"/>">Gairmeacha agus Earca&iacute;ocht <i class="fa fa-id-badge fa-lg"></i></a></h3>
                <p>R&oacute;il thairbheacha, dul chun cinn gairme, cult&uacute;r ar leith - foghlaim n&iacute;os m&oacute; faoi na deiseanna at&aacute; ar f&aacute;il sa Phr&iacute;omh-Oifig Staidrimh</p>
                <div class="sideitemFooter">
                <a class="btn" href="<t4 type="navigation" id="859"/>">t&eacute;igh chuig Gairmeacha sa Phr&iacute;omh-Oifig Staidrimh <i class="fa fa-angle-right"></i></a>
                </div>
            </div><!--/sideitem-->
                
        </div><!--/col-->

        <div class="col span4">
           
            <div class="module green open">
                <div class="moduleHeader">
                <h2><a href="#">Grafaic&iacute; Faisn&eacute;ise </a></h2>     
                </div>
                <div class="moduleBody visualisationsMmoduleBody">
                    <div class="flexslider2">
                        <ul class="slides">
                            <t4 type="navigation" id="1516" />
                        </ul>
                    </div>
                </div>

                <div class="moduleFooter">
                    <a class="btn" href="<t4 type="navigation" id="768"/>">tuilleadh grafaic&iacute; <i class="fa fa-angle-right"></i></a>
                </div>
            </div>

            <div class="module yellow open">
				<div class="moduleHeader">
					<h2><a href="#">Daonáireamh</a></h2>
				</div>
				<div class="moduleBody">
					<ul>
						<!-- navigation object : Census: News --><t4 type="navigation" id="207"/>
					</ul>
				</div>
			</div><!--/module-->
                           
            <div class="sideitem blue">
                <h3><a href="<t4 type="navigation" id="1360"/>">Ag Glacadh P&aacute;irt i Suirbh&eacute; <t4 type="media" formatter="image/*" id="204610" /></a></h3>
                <p>Suirbh&eacute;anna CSO ar L&iacute;onta T&iacute;</p>
                <div class="sideitemFooter">
                <a class="btn" href="<t4 type="navigation" id="1360"/>">f&eacute;ach ar 'p&aacute;irt a ghlacadh i suirbh&eacute;' <i class="fa fa-angle-right"></i></a>
                </div>
            </div><!--/sideitem-->
            
<!--           <div class="module mint open">
                <div class="moduleHeader">
                    <h2><a href="#">Foilseach&aacute;in &amp; Oideachas&uacute;il</a></h2>
                </div>
                <div class="moduleBody">							
                    <ul>
                        <t4 type="navigation" id="204"/>
                    </ul>							
                </div>						
            </div> --> <!--/module-->
                            
        </div><!--/col-->

    </div> <!-- /row -->