		</div>
	</div>
	<div id="rightcol">

	<div class="widget-place" id="widget-place-1">
		  
		   <div class="widget movable removable" id="identifierwidget-1">
			<div class="widget-header">
                         <t4 type="media" id="454" />
			 
<!--<strong><t4 type="lang-var" default-language="en" en="Tweets" es="Tweets" ar="?????" /></strong>-->


			</div>
			<div class="widget-content">
			    <div id="juitterContainer"></div>
			</div>
		   </div>
		   
		  <!-- navigation object : Widgets RCB --><t4 type="navigation" id="32" />    
	</div>

        <div class="resetwidgets">	
		<a onclick="$.fn.ShowEasyWidgets(); return false" href="#" title="Reset widgets">Reset widgets</a>
	</div>

	</div>
</div>
<div id="footer">
	<div class="right">&copy; Copyright 2010, TERMINALFOUR Solutions Limited. - <a href="<t4 type="navigation" id="14" />/index.xml">RSS Feed</a><br /><t4 type="edit-page" text="Edit this page" /> - <t4 type="edit-page" action="direct-edit" text="Direct Edit this page" /></div>
	<!-- navigation object : Link to Contact Us --><t4 type="navigation" id="17" /> - <!-- navigation object : Link to Site Map --><t4 type="navigation" id="18" /><br /><a href="http://validator.w3.org/check?uri=referer" title="Validate">XHTML</a> - <a href="http://jigsaw.w3.org/css-validator/check/referer" title="Validate">CSS</a>	</div>
</body>
</html>_hdr.html