<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" lang="en">
	<head>
		<!--scale the layout to work correctly on moble decives-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
          <!-- navigation object :  Last modified --><t4 type="navigation" id="74"/>
         
		<!--define the character encoding for the page-->
		<meta charset="UTF-8">
		<title><t4 type="title" /> - CSO - Central Statistics Office</title>
         <!-- navigation object :  Key words --><t4 type="navigation" id="625"/>
          <!-- navigation object :  Last modified --><t4 type="navigation" id="74"/>
          <meta name="DC.Publisher" content="CSO" /> <!-- modified -->
          
          
        <!--include main stylesheet - all other stylesheets are embeded within this--> 
          <!-- start css -->
          <!-- IE compatibility mode fix--><meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!--main.css--><t4 type="media" id="86004" formatter="css/*"/>
        <!--earthworm.css--><t4 type="media" id="86000" formatter="css/*"/>
        <!--layout.css--><t4 type="media" id="86002" formatter="css/*"/>
        <!--colours.css--><t4 type="media" id="85996" formatter="css/*"/>
        <!--flexslider.css--><t4 type="media" id="86001" formatter="css/*"/>
        <!--jquery.fancybox.css--><t4 type="media" id="86018" formatter="css/*"/>
        <!--mediaQueries.css--><t4 type="media" id="86005" formatter="css/*"/>
       
		<!--include jQuery-->
		<!--jquery-1.11.1.min.js--><t4 type="media" id="86225" formatter="javascript/*"/>
		
        
        <!--include Flexslider - used for carousels and image slders-->
		<!--jquery.flexslider-min.js--><t4 type="media" id="86226" formatter="javascript/*"/>
          
		<!--include Fancyboc - used for modal windows-->
		<!--jquery.fancybox.js--><t4 type="media" id="86223" formatter="javascript/*"/>
          
		<!--include High Charts-->
          <!-- removed jc 13/02/14  
		<script src="assets/highcharts/js/highcharts.js"></script>
		<script src="assets/highcharts/js/highcharts-3d.js"></script>
		<script src="assets/highcharts/js/modules/exporting.js"></script>-->
          
		<!--include sitewide JavaScript for cso.ie-->
		<!--site.js--><t4 type="media" id="86227" formatter="javascript/*"/>
    
    <t4 type="navigation" name="WidgetToggles Include code" id="1405" />   
             <!-- end css -->
           
<script> 
//js to set current tab to active on main nav DR

    $(document).ready(function () {


        var theme = '<t4 type="navigation" id="70"/>';

        //alert(theme);

        if (theme.length == '0') {
            $("#homeTab").addClass("currentbranch0");
            // alert('I am here');
        }

        else if (theme == 'Statistics' || theme == 'Releases and Publications') {

            $("#statisticsTab").addClass("currentbranch0");

        }

        else if (theme == 'Databases') {

            $("#databasesTab").addClass("currentbranch0");

        }


        else if (theme == 'Surveys and Methodology') {

            $("#methodsTab").addClass("currentbranch0");

        }

        else if (theme == 'About Us') {

            $("#aboutUsTab").addClass("currentbranch0");

        }


        else {
            //do nothing
        }


    });

    //end main nav JS DR
</script>
<!-- start header -->
     
<!-- ********** HEADER ********** -->
		<!-- navigation object : Header code --><t4 type="navigation" id="496"/>	
      <!--/mainNav-->
   <!-- end header -->   
		<!-- ********** CONTENT ********** -->
		<div class="container content">
			<div class="row pageHeader">
				<div class="col span12">
					<div id="breadcrumbs">
						<span class="youarehere">You are here: </span> &gt;
						<!-- navigation object : Breadcrumb --><t4 type="navigation" id="69"/>
					</div><!--/breadcrumb-->
				</div><!--/col-->
				<div class="col span12">
					<h1>Hubs &amp; Dashboards</h1>
				</div><!--/col-->				
			</div><!--/row-->


    <div class="row">
        <div class="col span12">

           <h2>Explore CSO Hubs</h2>

        </div>
    </div> <!-- /row -->
      
      <div class="row" style="margin-top:0">
        <div class="col span4">
<!-- permanent links row-->                  
          <div class="sideitem mint">
              <h3><a href="<t4 type="navigation" id="1443"/>">Transport Hub<i class="fa fa-road"></i></a></h3>
                       <p>The one-stop shop for all Transport data in Ireland from a variety of data sources</p>
              <a class="btn" href="<t4 type="navigation" id="1443"/>">Go to transport hub <i class="fa fa-angle-right"></i></a>
          </div>
          
        </div> <!-- /span4 -->
          
        <div class="col span4">
                  
            <div class="sideitem teal">
                <h3><a href="<t4 type="navigation" id="1322"/>">Well-being Information Hub<i class="fa fa-child"></i></a></h3>
                         <p>How we are doing as a country</p>
                <a class="btn" href="<t4 type="navigation" id="1322"/>">Go to well-being information hub <i class="fa fa-angle-right"></i></a>
            </div>
          
        </div> <!-- /span4 -->
          
        <div class="col span4">
            <div class="sideitem blue">
                <h3><a href="<t4 type="navigation" id="1379" />">Older Persons Information Hub<i class="fa fa-id-card-o"></i></a></h3>
                         <p>A snapshot of people aged 65&plus; in Ireland - who they are and how they live</p>
                <a class="btn" href="<t4 type="navigation" id="1379" />">Go to Older Persons Information Hub <i class="fa fa-angle-right"></i></a>
            </div>
                
        </div> <!-- /span4 -->
    </div> <!-- /row -->

    <div class="row" style="margin-top:40px">

				<div class="col span8">
                  
					<div class="module csoblue">
						<div class="moduleHeader">
							<h2>More Information Hubs</h2>
						</div>
						<div class="moduleBody">
              <ul class="links ulList">
                <li><a href="<t4 type="navigation" id="1171"/>">COVID-19 Information Hub</a></li>
                <li><a href="<t4 type="navigation" id="1371"/>">Ireland's Relationship with Ukrainian People and their Economy</a></li>
              </ul>
            </div>
					</div><!--/module-->
					
      </div> <!-- /col -->
    </div> <!-- /row -->
      
    <div class="row" style="margin-top:60px">
        <div class="col span12">
           <h2 style="padding-top: 40px; border-top: 1px solid #d1d9e1;">Dashboards &amp; Interactive Apps</h2>

        </div>
    </div> <!-- /row -->


    <div class="row" style="margin-top: 20px">
        <div class="col span4">              
            <div class="sideitem blue">
                <h3><a href="<t4 type="navigation" id="1444"/>">Transport Dashboard<i class="fa fa-road" aria-hidden="true"></i></a></h3>
                <p>Faster Transport Indicators</p>
                <a class="btn" href="<t4 type="navigation" id="1444"/>">go to Transport Dashboard <i class="fa fa-angle-right"></i></a>
            </div>
        </div> <!-- /end col -->

        <div class="col span4">        
            <div class="sideitem purple">
                <h3><a href="https://visual.cso.ie/?body=entity/ima/cop/2022" target="_blank">Census 2022 Interactive Map<i class="fa fa-map-marker" aria-hidden="true"></i></a></h3>
                <p>Find detailed Census 2022 data by theme in our interactive map, from county level to neighbourhood level on CSO Visual</p>
                <a class="btn" href="https://visual.cso.ie/?body=entity/ima/cop/2022" target="_blank">go to Census Interactive Map <i class="fa fa-external-link"></i></a>
            </div>
        </div> <!-- /span4 -->

        <div class="col span4">
            <div class="sideitem cobalt">
                <h3><a href="https://visual.cso.ie/?body=entity/babynames" target="_blank">Baby Names App<i class="fa fa-child"></i></a></h3>
                         <p>Discover the popularity of your name over time and explore popular baby names in Ireland</p>
                <a class="btn" href="https://visual.cso.ie/?body=entity/babynames" target="_blank">Go to Baby Names App <i class="fa fa-external-link"></i></a>
            </div>
        </div> <!-- /span4 -->  

    </div> <!-- /row -->

      
			<div class="row" style="margin-top: 40px;">
				<div class="col span8">
                  
					<div class="module cobalt">
						<div class="moduleHeader">
							<h2><a href="#">More Dashboards and Interactive Apps</a></h2>
						</div>
						<div class="moduleBody">
              <ul class="links ulList">
                <li><a href="https://visual.cso.ie/?body=entity/cpicalculator">Consumer Price Index Inflation Calculator  <i class="fa fa-external-link"></i></a></li>
                <li><a href="https://visual.cso.ie/?body=entity/motors">Ireland's Top Motors  <i class="fa fa-external-link"></i></a></li>
                <li><a href="https://visual.cso.ie/?body=entity/rppi">House Prices  <i class="fa fa-external-link"></i></a></li>
                <li><a href="https://visual.cso.ie/?body=entity/mip">Measuring Ireland's Progress Dashboard  <i class="fa fa-external-link"></i></a></li>
                <li><a href="https://visual.cso.ie/?body=entity/kei">Ireland's Key Economic Indicators Dashboard  <i class="fa fa-external-link"></i></a></li>
                <li><a href="https://visual.cso.ie/?body=entity/ima/coa">Agrimap - Census of Agriculture Interactive Mapping App  <i class="fa fa-external-link"></i></a></li>
                <li><a href="https://visual.cso.ie/?body=entity/popularbirthday">Popular Birthdays in Ireland  <i class="fa fa-external-link"></i></a></li>
                <li><a href="<t4 type="navigation" id="897"/>">Brexit Indicators: Ireland and the UK in Numbers <i class="fa fa-angle-right"></i></a></li>
              </ul>              
						</div>
					</div><!--/module-->
								
        </div><!--/col-->

			</div><!--/row-->
      
      
    <div class="row" style="margin-top:60px">
        <div class="col span12">

           <h2 style="padding-top: 40px; border-top: 1px solid #d1d9e1;">More Statistics</h2>

        </div>
    </div> <!-- /row -->

      
      <div class="row" style="margin-top: 0;">
        <div class="col span4">                  
          <div class="sideitem purple">
              <h3><a href="<t4 type="navigation" id="63" />">Explore All Statistics<i class="fa fa-list-alt"></i></a></h3>
                          <p>Browse all our statistics by Theme and Series</p>

              <a class="btn" href="<t4 type="navigation" id="63" />">Go to explore statistics <i class="fa fa-angle-right"></i></a>
          </div>
        </div> <!-- /span4 --> 
        <div class="col span4">                  
          <div class="sideitem blue">
              <h3><a href="https://data.cso.ie">Statistical Database<i class="fa fa-database"></i></a></h3>
                          <p>Explore data in our PxStat Dissemination Database</p>

              <a class="btn" href="https://data.cso.ie">Go to data.cso.ie <i class="fa fa-external-link"></i></a>
          </div>
        </div> <!-- /span4 --> 
      </div> <!-- /row -->
           
</div><!--/content-->



