<div style="clear:both;"></div>	
<!-- start footer -->  
</div>
			<!-- ## End Content // Start Footer ## -->
			
		</div>

		<div style="clear:both;"></div>	
		<!-- Site Footer -->
		<div id="footer">
			
			<!-- Site Footer Links -->
			<div class="footer-links-line">&nbsp;</div>
			
				

             
              
			</div>
			
			<!-- Site Contact Information -->
			<div id="footer-contact">

     <!-- navigation object : Footer --><t4 type="navigation" id="215"/>
				
			</div>
			
		</div>
	</div>
	<!-- end footer --> 
</body>
</html>_hdr.html