<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" lang="en">
	<head>
		<!--scale the layout to work correctly on moble decives-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!--define the character encoding for the page-->
		<meta charset="UTF-8">
		<title><t4 type="title" /> - CSO - Central Statistics Office</title>
          <!-- navigation object :  Key words --><t4 type="navigation" id="625"/>
          <!-- navigation object :  Last modified --><t4 type="navigation" id="74"/>
          <meta name="DC.Publisher" content="CSO" /> <!-- modified -->
          
          <!-- IE compatibility mode fix--><meta http-equiv="X-UA-Compatible" content="IE=edge">

          
        <!--main.css--><t4 type="media" id="86004" formatter="css/*"/>
        <!--earthworm.css--><t4 type="media" id="86000" formatter="css/*"/>
        <!--layout.css--><t4 type="media" id="86002" formatter="css/*"/>
        <!--colours.css--><t4 type="media" id="85996" formatter="css/*"/>
        <!--flexslider.css--><t4 type="media" id="86001" formatter="css/*"/>
        <!--jquery.fancybox.css--><t4 type="media" id="86018" formatter="css/*"/>
        <!--mediaQueries.css--><t4 type="media" id="86005" formatter="css/*"/>
		
        <!--include jQuery-->
		<!--jquery-1.11.1.min.js--><t4 type="media" id="86225" formatter="javascript/*"/>
		
        
        <!--include Flexslider - used for carousels and image slders-->
		<!--jquery.flexslider-min.js--><t4 type="media" id="86226" formatter="javascript/*"/>
          
		<!--include Fancyboc - used for modal windows-->
		<!--jquery.fancybox.js--><t4 type="media" id="86223" formatter="javascript/*"/>
          

		<!--include sitewide JavaScript for cso.ie-->
		<!--site.js--><t4 type="media" id="86227" formatter="javascript/*"/>
          
          
         
          
          
 

		<!-- ********** HEADER ********** -->
		<!-- navigation object : Header code --><t4 type="navigation" id="496"/>	
      <!--/mainNav-->
            
            <!-- ********** CONTENT ********** -->
		<div class="container content">
			<div class="row pageHeader">
				<div class="col span12">
					<div id="breadcrumbs">
						<span class="youarehere">You are here: </span> 
						<!-- navigation object : Breadcrumb --><t4 type="navigation" id="69"/>
					</div><!--/breadcrumb-->
				</div><!--/col-->
                 
          <!-- ********** Local Nav ********** -->
           <div class="col span12">
              <div id="navigation-section">
                <ul>
                    <!-- navigation object : Children li --><t4 type="navigation" id="71"/>
                </ul>
            </div>
            </div>
            <!--/Local Nav-->     
              
                           
				<div class="col span12">
					<h1><t4 type="title" /></h1>
				</div><!--/col-->

			</div><!--/row-->
			<div class="row">
				<div class="col columnLeft<t4 type="navigation" id="84"/>">
					<div class="copy">_hdr.html