<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	
	<title><t4 type="title" /> - CSO - Central Statistics Office</title>
	
	<!-- Meta -->
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="DC.Contributor" content="National Statistics Board" /> 
<meta name="DC.Creator" content="National Statistics Board" />
<meta name="DC.Date.Created" content="<t4 type="navigation" id="73"/>" />
<meta name="DC.Last.updated" content="<t4 type="navigation" id="74"/>" />
<meta name="DC.Identifier" content="The complete URL of the page." />
<meta name="DC.Language" content="EN or GA depending on CMS language" />
<meta name="DC.Publisher" content="National Statistics Board" />
<meta name="DC.Rights" content="© Government of Ireland" />
<meta name="DC.Subject" content="<t4 type="title" />" />
<meta name="DC.Title" content="<t4 type="title" />" />
<meta name="DC.Type" content=" html,text,pdf,xls " />
_hdr.html