<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<!--scale the layout to work correctly on moble decives-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!--define the character encoding for the page-->
		<meta charset="UTF-8">
		<title><t4 type="title" /> - CSO - Quality Information System</title>
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- navigation object : QIS Header code --><t4 type="navigation" id="725"/>
<!-- ********** CONTENT ********** -->
		<!-- <div class="container content">-->
          <!-- end header -->
     
      
  
<script> 
//js to set current tab to active on main nav DR

    $(document).ready(function () {


        var theme = '<t4 type="navigation" id="70"/>';

   //alert(theme);

        

        if (theme == 'Process Maps') {

            $("#processMapTab").addClass("currentbranch0");

        }


        else if (theme == 'Survey Documentation') {

            $("#surveyDocumentationTab").addClass("currentbranch0");

        }

        else if (theme == 'Quality Documentation') {

            $("#qualityDocumentationTab").addClass("currentbranch0");

        }
  else if (theme == 'Data Management') {

            $("#dataManagementTab").addClass("currentbranch0");

        }
  
   else if (theme == 'Resources') {

            $("#resourcesTab").addClass("currentbranch0");

        }
      
      else if (theme == 'Resources') {

            $("#resourcesTab").addClass("currentbranch0");

        }


        else {
            //do nothing
        }


    });

    //end main nav JS DR
</script>
  <div class="row pageHeader">
    
     <div class="col span12">
					<div id="breadcrumbs">
						<span class="youarehere">You are here: </span> 
						<!-- navigation object : Breadcrumb --><t4 type="navigation" id="749"/>
					</div><!--/breadcrumb-->
				</div><!--/col-->
    
          <div class="col span12">
					<h1 id="pageTitle"><t4 type="title" /></h1>
				</div><!--/col-->
    </div><!--/row pageHeader-->
          
            <div class="row">
              <div class="col columnLeft<t4 type="navigation" id="835"/>">
              
					<div class="copy">
              
             _hdr.html