<!doctype html>
<html lang="en">

<head>

  <title>Census Field Document Portal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <t4 type="media" formatter="css/*" id="203876" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="m-3">
      <div class="row align-items-end">
        <div class="col-sm-8">
          <img id="main-logo" class="img-responsive" alt="Central Statistics Office" src="https://cdn.cso.ie/client/2.0.0/img/cso_logo.png" />
        </div>
        <div class="col-sm-4">
          <h2 class="text-right align-bottom text-primary">Census Supervisor Document Portal</h2>
        </div>
      </div>
    </div>
  </div>


  <nav class="navbar navbar-expand-xl navbar-dark bg-navbar nav-pills">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
         <li class="nav-item" name="<t4 type="navigation" name="Name: Home" id="1151" />">
            <a id="nav-link-Home" class="nav-link text-light " href="<t4 type="navigation" name="Path: Home" id="1073" />">Home
            </a>
            </li>
      <li class="nav-item" name="<t4 type="navigation" name="Name: Presentations" id="1152" />">
        <a id="nav-link-presentations" class="nav-link text-light" href="<t4 type="navigation" name="Path: Presentations" id="1074" />">Presentations</a>
      </li>
      <li class="nav-item" name="<t4 type="navigation" name="Name: circulars" id="1153" />">
        <a id="nav-link-circulars" class="nav-link text-light" href="<t4 type="navigation" name="Path: Circulars" id="1075" />">Circulars
        </a>
      </li>
        <li class="nav-item" name="<t4 type="navigation" name="Name: Manuals" id="1154" />">
        <a id="nav-link-manuals" class="nav-link text-light" href="<t4 type="navigation" name="Path: Manuals" id="1077" />">Manuals
        </a>
      </li>
      <li class="nav-item" name="<t4 type="navigation" name="Name: Videos" id="1155" />">
        <a id="nav-link-videos" class="nav-link text-light" href="<t4 type="navigation" name="Path: Videos" id="1144" />">Videos
        </a>
      </li>
      <li class="nav-item" name="<t4 type="navigation" name="Name: Logistics" id="1156" />">
        <a id="nav-link-logistics" class="nav-link text-light" href="<t4 type="navigation" name="Path: Logistics" id="1145" />">Logistics
        </a>
      </li>
      <li class="nav-item" name="<t4 type="navigation" name="Name: Publicity" id="1157" />">
        <a id="nav-link-publicity" class="nav-link text-light" href="<t4 type="navigation" name="Path:Publicity" id="1146" />">Publicity
        </a>
      </li>
      <li class="nav-item" name="<t4 type="navigation" name="Name: Payments" id="1158" />">
        <a id="nav-link-payments" class="nav-link text-light" href="<t4 type="navigation" name="Path: Payments" id="1147" />">Payments
        </a>
      </li>
       <li class="nav-item" name="<t4 type="navigation" name="Name: Recruitment" id="1159" />">
        <a id="nav-link-recruitment" class="nav-link text-light" href="<t4 type="navigation" name="Path: Recruitment" id="1148" />">Recruitment
        </a>
      </li>
       <li class="nav-item" name="<t4 type="navigation" name="Name: Processing" id="1160" />">
        <a id="nav-link-processing" class="nav-link text-light" href="<t4 type="navigation" name="Path: Processing" id="1149" />">Processing
        </a>
      </li>
       <li class="nav-item" name="<t4 type="navigation" name="Name: Technology" id="1161" />">
        <a id="nav-link-technology" class="nav-link text-light" href="<t4 type="navigation" name="path: Technology" id="1150" />">Technology
        </a>
      </li>
    </ul>
   
  </div>
</nav>
  <script>
    $(document).ready(function(){
  $( ".nav-item" ).each(function( index ) {
    if($( this ).attr("name") == "<t4 type="title" />") {
      $( this ).find(".nav-link").addClass("active")
    }
});
});
  </script>
  
<div class="container">
   <div class="row my-2">
      <div class="col">
         <h3><t4 type="title" /></h3>
      </div>
   </div>
   <div class="row">
      <div class="col">
  
  
   
        

 
_hdr.html