<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>

 
	
	<title><t4 type="title" /> - CSO - Central Statistics Office</title>
       	
	<!-- Meta -->
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="DC.Contributor" content="Central Statistics Office" /> 
<meta name="DC.Creator" content=" Central Statistics Office" />
<meta name="DC.Date.Created" content="<t4 type="navigation" id="73"/>" />
<meta name="DC.Last.updated" content="<t4 type="navigation" id="74"/>" />
<meta name="DC.Identifier" content="The complete URL of the page." />
<meta name="DC.Language" content="EN or GA depending on CMS language" />
<meta name="DC.Publisher" content="Central Statistics Office" />
<meta name="DC.Rights" content="© Government of Ireland" />
<meta name="DC.Subject" content="<t4 type="title" />" />
<meta name="DC.Title" content="<t4 type="title" />" />
<meta name="DC.Type" content=" html,text,pdf,xls " />

<!-- apple icons -->
    <link rel="apple-touch-icon-precomposed"                  href="http://www.cso.ie/images/bookmark.png" >
    <link rel="apple-touch-icon-precomposed" sizes="72x72"    href="http://www.cso.ie/images/bookmark.png" >
    <link rel="apple-touch-icon-precomposed" sizes="114x114"  href="http://www.cso.ie/images/bookmark.png" >

<!-- start css -->
	<!-- CSS -->
	<t4 type="media" id="51319" formatter="css/*"/><!-- electronic release -->
	<t4 type="media" id="749" /><!-- print -->
        <t4 type="media" id="51433" /><!-- Timeliness monitor -->
        
	<!--[if lte IE 8]><t4 type="media" id="748" /><![endif]-->
	
		<!-- Additional CSS -->
		<link rel="alternate stylesheet" type="text/css" href="<t4 type="media" id="745" />" title="Medium text">

		<link rel="alternate stylesheet" type="text/css" href="<t4 type="media" id="744" />" title="Large text">
   <style type="text/css">
<t4 type="exceltohtml" name="Select Excel File" default-font="" />
</style>
                
<!-- end css -->
	
	<!-- JavaScript -->
	<t4 type="media" id="777" /><!-- jquery-1.5.2.min.js -->
	<t4 type="media" id="778" /><!-- scripts.js -->
	<t4 type="media" id="795" /><!-- showhideqa.js -->
                  <t4 type="media" id="53959" /><!-- google analytics -->
        
	
	
			<!-- script type="text/javascript" src="media/js/js.js"></script -->
			<!-- script type="text/javascript" src="media/js/styleswitcher.js"></script -->
	
	

<script language="JavaScript" type="text/JavaScript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->

</script>

<style type="text/css">  /* Layout properties for your question  */
 .question{
  font-weight:bold; /* Bold font */ 
  color: #FFFFFF;  /* The questions is in red */
 }
 .answer{
  /* Layout properties - You can change these */
 
  border: 1px solid #555555;
  padding:3px;
  width:500px;
  background-color:#E2EBED;
  /* This one should not be changed */
  display:none;
 }
 </style>

</head>
<body class="<t4 type="navigation" id="84"/>">

<div id="container">
<!-- start header -->
	<div id="container">
	
		
		<!-- Site Header -->
                
	<div id="header">
			<!-- Site Logo and Homepage link -->
			<a href="<t4 type="navigation" id="93"/>"><t4 type="media" id="51093" /></a>
			
			<!-- Site Header Links -->
			<div id="header-links">
<a accesskey="a" tabindex="8" title="<t4 type="navigation" id="47"/>" href="<t4 type="navigation" id="51"/>">About Us</a> | 
<a accesskey="2" tabindex="9" title="<t4 type="navigation" id="48"/>" href="<t4 type="navigation" id="52"/>">News</a> | 
<a accesskey="5" tabindex="10" title="<t4 type="navigation" id="49"/>" href="<t4 type="navigation" id="53"/>"><t4 type="navigation" id="49"/></a> | 
<a accesskey="9" tabindex="11" title="<t4 type="navigation" id="50"/>" href="<t4 type="navigation" id="54"/>"><t4 type="navigation" id="50"/></a> |  <strong>  

<a href="<t4 type="navigation" id="180"/>" title="Gaeilge">Gaeilge</a>

                  
                  
                  </strong>

			</div>
                        
                        <!-- Site Search -->
                        
                        <div id="header-search">
			<div id="cse-search-form" style="width: 100%;">Loading</div>
<script src="//www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
    google.load('search', '1', { language: 'en' });
    google.setOnLoadCallback(function () {
        var customSearchControl = new google.search.CustomSearchControl('007477919376516988184:kd8dk_fgnnq');
        customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
        var options = new google.search.DrawOptions();
        options.enableSearchboxOnly("/en/search/index.html");
        customSearchControl.draw('cse-search-form', options);
    }, true);
</script>
<link rel="stylesheet" href="//www.google.com/cse/style/look/default.css" type="text/css" />
<style type="text/css">
  input.gsc-input {
    border-color: #BCCDF0;
  }
  input.gsc-search-button {
    border-color: #666666;
    background-color: #CECECE;
  }
</style>
		</div>
		
			
			
		</div>

		</div>
		
		<!-- Main Navigation -->
		<div id="navigation-main">
			<p class="hide"><a href="#content" accesskey="s">Skip navigation</a>
﻿<ul>
<!-- navigation object : Top Nav --><t4 type="navigation" id="146"/>
</ul><br class="clear" />


		</div>
		<!-- end header -->	
                <!-- start section bar -->
		<!-- Page Breadcrumbs -->
		<div id="breadcrumbs">
			<span class="youarehere"><t4 type="lang-var" default-language="en" en="" ga="<!--" /> 
                  You are here:
                  <t4 type="lang-var" default-language="en" en="" ga="-->" />
                  <t4 type="lang-var" default-language="en" en="<!--" ga="" />
                  Anois:
                  <t4 type="lang-var" default-language="en" en="-->" ga="" /></span> &gt; <!-- navigation object : Breadcrumb --><t4 type="navigation" id="69"/>
		
    <span style="float: right; width:200px;">
           
                
 </span>               
                
                
                
                </div>
		
		<!-- Site -->
                
		<!-- Page Content -->
		<div id="content">
                
			
<div id="rhs_column">


			<!-- ## End Header // Start Content ## -->
<!-- end section bar -->
_hdr.html