<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title><t4 type="title" /> - Voorburg</title>
   <!-- start css --> 
   <t4 type="media" id="61894" /> <!-- voorburg main css -->
  
  <t4 type="media" id="777" /><!-- jquery-1.5.2.min.js -->
  <t4 type="media" id="53959" /><!-- google analytics -->
  <t4 type="media" id="56509" /><!-- cookies -->
  <t4 type="media" id="56510" /><!-- cookies.js -->
  
<script type="text/javascript">
$(document).ready(function(){


   if( $('#sectionbar-one h1' ).is(':empty') )  {

    $("#sectionbar-one").hide();
   }
   
   else {
   $("#sectionbar-one").show();
   }
 });

</script>
    
   <!-- end css --> 
    
    </head>
<body class="<t4 type="navigation" id="84"/>">
  <!-- start header -->
  <div id='cookie-info'>
    <p class= "cookiesTitle">A notice about cookies</p>
    <p class="cookiesText">This website uses cookies. Some cookies may have been set already. 
       To find out more about our use of cookies you can visit our 
       <a class="cookiesPrivacyLink" href='<t4 type="navigation" id="82"/>'>privacy and cookies statement</a>. 
       By browsing this website, you agree to our use of cookies.
    </p>
    <p class= "cookiesFooter"><a class="cookiesHideFooter" href='javascript:hideCookieInfo();'>Hide this message</a></p>
  </div> 
  
<div id="container">
        <div id="header">
        <table class="headerTable" width="100%" style="border-collapse:collapse;">
        <tr>
        <td  align="left" width="30%" valign="top"><t4 type="media" id="51093" formatter="image/*"/></td>
        
        
        
        <td align="center"><p style="font-family: Arial, Helvetica, sans-serif; color: #073669;font-size: 20px;">Voorburg Group on Service Statistics</p></td>
        
        <td  style="padding: 10px 10px 5px 10px" align="right" width="30%" valign="middle"><t4 type="media" id="61950" formatter="image/*"/></td>
        </tr>
        </table>
        
       
        </div>
        
        
           <!-- Main Navigation -->
		<div id="navigation-main">
			<p class="hide"><a href="#content" accesskey="s">Skip navigation</a>
<ul>
<!-- navigation object : Top Nav --><t4 type="navigation" id="216"/>
</ul><div style="clear:both"></div>


		</div>
                
                <!-- Page Breadcrumbs -->
		<div id="breadcrumbs">
			<span class="youarehere"> 
                  You are here:
                  </span> &gt; <!-- navigation object : Breadcrumb --><t4 type="navigation" id="69"/>
		</div>
                  <!-- end header -->
                  
                <div id="sectionbar-one" class="pageHeadingBlockPeopleSociety">

			<h1 id="topHeading"><!-- navigation object : Name: Level 2 --><t4 type="navigation" id="70"/></h1>
                        </div>
             
            <div id="content">
            <div class="contentBlock">
            
                <!-- ## End Header // Start Content ## -->            _hdr.html