.html2pdf_container {
    position: relative;
    background-color: white;
    cursor: pointer;
}

.custom_dd {
    padding: 4px;
    background-color: white;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
    user-select: none;
}

.custom_dd:hover {
    background-color: #ededed;
    text-decoration: underline;
}

.custom_list {
    border: 1px solid #000;
    font-size: 14px;
}

.html2image_div {
    background-color: white;
    width: fit-content;
}