/* ======
/* Index of Colours
/* Green | white 7.2
/* Green40 (pale) | white 2.0
/* SoftGreen (mid) | white 3.4
/* Mint | white 2.18 / 3.04
/* Teal | white 2.18 / 3.11
/* Purple (dark) | white 9.48
/* Census2022Purple
/* Under Reservation
/* Violet | white 6.1
/* Cobalt | white 5.82
/* Magenta | 5.05
/* CSO Red90 | white 3.67
/* Yellow | white 1.93 / 3.01
/* Pink | white 5.08
/* CSOGrey | white 5.87
/* RedDarkTone | white 6.54
/* CSOBlue | white 3.38
/* Covid19 | black 17.48
/* SurveyBlue (same as CSO Blue) | white 3.38
/* Light Purple | #35456B 8.77
/* DarkGreen | white 12.07
 ============== */

/*green*/
/* contrast with white: 7.2 */

.carousel .green i.fa,
.green .moduleBody li a:before,
.green .moduleBody li p:before,
.green .accordion h3 a,
.green .accordion > div li a:before,
.green .accordionMethods h3,
.green .accordionMethods > div li a:before,
.footer .contact.green i,
.green.multiList .moduleBody li a,
.text-lead.green,
.text-highlight.green,
.text-large.green,
.text-green {
    color: #006168;
}

.green .moduleHeader,
.homepage .green .moduleFooter,
.green .btn,
.green a.btn,
.sideitem.green {
    background-color: #006168;
}

.wellbeing-hub-indicator .sideitem i.green {
    color: #006168
}


/*green 40%*/
/* contrast with white: 2.0 */

.carousel .green40 i.fa,
.green40 .moduleBody li a:before,
.green40 .moduleBody li p:before,
.green40 .accordion h3 a,
.green40 .accordion > div li a:before,
.green40 .accordionMethods h3,
.green40 .accordionMethods > div li a:before,
.footer .contact.green40 i,
.green40.multiList .moduleBody li a {
    color: #9BBDBF;
}

.green40 .moduleHeader,
.green40 .green40 .moduleFooter,
.green .btn,
.green40 a.btn,
.sideitem.green40 {
    background-color: #9BBDBF;
}

.wellbeing-hub-indicator .sideitem i.green40 {
    color: #9BBDBF
}


/*soft green (darker than green 40%*/
/* contrast with white: 3.4 */

.carousel .softgreen i.fa,
.softgreen .moduleBody li a:before,
.softgreen .moduleBody li p:before,
.softgreen .accordion h3 a,
.softgreen .accordion > div li a:before,
.softgreen .accordionMethods h3,
.softgreen .accordionMethods > div li a:before,
.footer .contact.softgreen i,
.softgreen.multiList .moduleBody li a,
.text-lead.softgreen,
.text-highlight.softgreen,
.text-large.softgreen,
.text-softgreen {
    color: #579599;
}

.softgreen .moduleHeader,
.softgreen .softgreen .moduleFooter,
.green .btn,
.softgreen a.btn,
.sideitem.softgreen {
    background-color: #579599;
}

.wellbeing-hub-indicator .sideitem i.softgreen {
    color: #579599
}


/*mint*/
/* #5BC1A5 contrast with white: 2.18 */
/* #00A881 contrast with white: 3.04 */

.carousel .mint i.fa,
.mint .moduleBody li a:before,
.mint .moduleBody li p:before,
.mint .accordion h3 a,
.mint .accordion > div li a:before,
.mint .accordionMethods h3,
.greminten .accordionMethods > div li a:before,
.footer .contact.mint i,
.mint.multiList .moduleBody li a {
    color: #008667;
}

.text-lead.mint,
.text-highlight.mint,
.text-large.mint,
.text-mint {
    color: #008667;  
}

.mint .moduleHeader,
.homepage .mint .moduleFooter,
.mint .btn,
.moduleFooter.mint {
    background-color: #008667;
}


/* override module colour to differentiate link category */

.homepage .teal .moduleFooter.mint,
.teal .mint .btn {
    background-color: #008667;
}

.sideitem.mint,
.sideitem.mint .btn {
    background-color: #008667;
}

.wellbeing-hub-indicator .sideitem i.mint {
    color: #008667
}


/*teal*/
/* #45C1C0 contrast with white: 2.18 */
/* #00A3A0 contrast with white: 3.11 */

.carousel .teal i.fa,
.teal .moduleBody li a:before,
.teal .moduleBody li p:before,
.teal .accordion h3 a,
.teal .accordion > div li a:before,
.teal .accordionMethods h3,
.teal .accordionMethods > div li a:before,
.footer .contact.teal i,
.teal.multiList .moduleBody li a {
    color: #268287;
}

.teal .moduleHeader,
.homepage .teal .moduleFooter,
.teal .btn {
    background-color: #268287;
}

.text-lead.teal,
.text-highlight.teal,
.text-large.teal,
.text-teal {
    color: #268287;  
}


.sideitem.teal,
.sideitem.teal .btn {
    background-color: #268287;
}

.wellbeing-hub-indicator .sideitem i.teal {
    color: #268287;
}


/*purple*/
/* contrast with white: 9.48 */

.carousel .purple i.fa,
.purple .moduleBody li a:before,
.purple .moduleBody li p:before,
.purple .accordion h3 a,
.purple .accordion > div li a:before,
.purple .accordionMethods h3,
.purple .accordionMethods > div li a:before,
.footer .contact.purple i,
.purple.multiList .moduleBody li a,
.text-lead.purple,
.text-highlight.purple,
.text-large.purple,
.text-purple  {
    color: #35456B;
}

.purple .moduleHeader,
.homepage .purple .moduleFooter,
.purple .btn,
.sideitem.purple {
    background-color: #35456B;
    color: #fff;
}

.wellbeing-hub-indicator .sideitem i.purple {
    color: #35456B;
}

/*census2022purple*/
.census2022 .moduleHeader,
.homepage .census2022 .moduleFooter,
.census2022 .btn,
.sideitem.census2022 {
	background-color: #283F73;
    color: #fff;
}

/*under reservation*/
.underReservation .moduleHeader {
    background-color: #e25939;
}

/*violet*/
/* contrast with white: 6.1 */

.carousel .violet i.fa,
.violet .moduleBody li a:before,
.violet .moduleBody li p:before,
.violet .accordion h3 a,
.violet .accordion > div li a:before,
.violet .accordionMethods h3,
.violet .accordionMethods > div li a:before,
.footer .contact.violet i,
.violet.multiList .moduleBody li a,
.text-lead.violet,
.text-highlight.violet,
.text-large.violet,
.text-violet {
    color: #725499;
}

.violet .moduleHeader,
.homepage .violet .moduleFooter,
.violet .btn,
.sideitem.violet {
    background-color: #725499;
    color: #fff;
}

.wellbeing-hub-indicator .sideitem i.violet {
    color: #725499;
}


/*cobalt*/
/* contrast with white: 5.82 */

.carousel .cobalt i.fa,
.cobalt .moduleBody li a:before,
.cobalt .moduleBody li p:before,
.cobalt .accordion h3 a,
.cobalt .accordion > div li a:before,
.cobalt .accordionMethods h3,
.cobalt .accordionMethods > div li a:before,
.footer .contact.cobalt i,
.cobalt.multiList .moduleBody li a,
.text-lead.cobalt,
.text-highlight.cobalt,
.text-large.cobalt,
.text-cobalt {
    color: #4463aa;
}

.cobalt .moduleHeader,
.homepage .cobalt .moduleFooter,
.cobalt .btn,
.sideitem.cobalt {
    background-color: #4463aa;
    color: #fff;
}

.wellbeing-hub-indicator .sideitem i.cobalt {
    color: #4463aa;
}


/*magenta*/
/* contrast with white: 5.05 */

.carousel .magenta i.fa,
.magenta .moduleBody li a:before,
.magenta .moduleBody li p:before,
.magenta .accordion h3 a,
.magenta .accordion > div li a:before,
.magenta .accordionMethods h3,
.magenta .accordionMethods > div li a:before,
.footer .contact.magenta i,
.magenta.multiList .moduleBody li a,
.text-lead.magenta,
.text-highlight.magenta,
.text-large.magenta,
.text-magenta {
    color: #ab4d88;
}

.magenta .moduleHeader,
.homepage .magenta .moduleFooter,
.magenta .btn,
.sideitem.magenta {
    background-color: #ab4d88;
    color: #fff;
}

.wellbeing-hub-indicator .sideitem i.magenta {
    color: #ab4d88;
}


/*CSO red90*/
/* contrast with white: 3.67 */

.carousel .orange i.fa,
.csored90 .moduleBody li a:before,
.csored90 .moduleBody li p:before,
.csored90 .accordion h3 a,
.csored90 .accordion > div li a:before,
.footer .contact.csored90 i,
.csored90.multiList .moduleBody li a {
    color: #e25939;
}

.csored90 .moduleHeader,
.homepage .csored90 .moduleFooter,
.csored90 .btn,
.sideitem.csored90 {
    background-color: #e25939;
}

.wellbeing-hub-indicator .sideitem i.csored90 {
    color: #e25939;
}


/*yellow*/
/* #FBAA34 contrast with white: 1.93 */
/* #E2791D contrast with white: 3.01 */

.carousel .yellow i.fa,
.yellow .moduleBody li a:before,
.yellow .moduleBody li p:before,
.yellow .accordion h3 a,
.yellow .accordion h4 a,
.yellow .accordion > div li a:before,
.yellow .accordionMethods h3,
.yellow .accordionMethods h4 a,
.yellow .accordionMethods > div li a:before,
.footer .contact.yellow i,
.yellow.multiList .moduleBody li a {
    color: #d68000;
}

.text-lead.yellow,
.text-highlight.yellow,
.text-large.yellow,
.text-yellow {
    color: #d68000;  
}

.yellow .moduleHeader,
.homepage .yellow .moduleFooter,
.yellow .btn {
    background-color: #d68000;
}

.sideitem.yellow,
.sideitem.yellow .btn {
    background-color: #d68000;
}

.yellow .accordion h3 a {
    color: #07101a;
}

.wellbeing-hub-indicator .sideitem i.yellow {
    color: #d68000;
}


/*pink*/
/* contrast with white: 5.08 */

.carousel .pink i.fa,
.pink .moduleBody li a:before,
.pink .accordion h3 a,
.pink .accordion > div li a:before,
.footer .contact.pink i,
.pink.multiList .moduleBody li a,
.text-lead.pink,
.text-highlight.pink,
.text-large.pink,
.text-pink {
    color: #d3205c;
}

.pink .moduleHeader,
.homepage .pink .moduleFooter,
.pink .btn,
.sideitem.pink {
    background-color: #d3205c;
}

.wellbeing-hub-indicator .sideitem i.pink {
    color: #d3205c;
}


/*CSO grey*/
/* contrast with white: 5.87 */

.carousel .csogrey i.fa,
.csogrey .moduleBody li a:before,
.csogrey .moduleBody li p:before,
.csogrey .accordion h3 a,
.csogrey .accordion > div li a:before,
.footer .contact.csogrey i,
.csogrey.multiList .moduleBody li a {
    color: #5b6670;
}

.text-lead.csogrey,
.text-highlight.csogrey,
.text-large.csogrey,
.text-csogrey {
    color: #5b6670; 
}

.csogrey .moduleHeader,
.homepage .csogrey .moduleFooter,
.csogrey .btn,
.sideitem.csogrey {
    background-color: #5b6670;
}

.wellbeing-hub-indicator .sideitem i.csogrey {
    color: #5b6670;
}


/*RedDarkTone*/
/* contrast with white: 6.54 */

.carousel .RedDarkTone i.fa,
.RedDarkTone .moduleBody li a:before,
.RedDarkTone .moduleBody li p:before,
.RedDarkTone .accordion h3 a,
.RedDarkTone .accordion > div li a:before,
.footer .contact.RedDarkTone i,
.RedDarkTone.multiList .moduleBody li a {
    color: #a93335;
}

.RedDarkTone .moduleHeader,
.homepage .RedDarkTone .moduleFooter,
.RedDarkTone .btn,
.sideitem.RedDarkTone {
    background-color: #a93335;
}

.wellbeing-hub-indicator .sideitem i.RedDarkTone {
    color: #a93335;
}


/*CSO blue*/
/* contrast with white: 3.38 */

.carousel .csoblue i.fa,
.csoblue .moduleBody li a:before,
.csoblue .moduleBody li p:before,
.csoblue .accordion h3 a,
.csoblue .accordion > div li a:before,
.footer .contact.csoblue i,
.csoblue.multiList .moduleBody li a,
.text-lead.csoblue,
.text-highlight.csoblue,
.text-large.csoblue,
.text-csoblue {
    color: #007a90;
}

.csoblue .moduleHeader,
.homepage .csoblue .moduleFooter,
.csoblue .btn {
    background-color: #007a90;
}

.sideitem.blue,
.sideitem.blue .btn {
    background-color: #007a90;
}

.wellbeing-hub-indicator .sideitem i.csoblue {
    color: #007a90;
}


/*CSO covid19*/
/* contrast with black: 17.48 */

.carousel .covid19 i.fa,
.covid19 .moduleBody li a:before,
.covid19 .moduleBody li p:before,
.covid19 .accordion h3 a,
.covid19 .accordion > div li a:before,
.footer .contact.covid19 i,
.covid19.multiList .moduleBody li a {
    color: #007a90;
}

.covid19 .moduleHeader,
.homepage .covid19 .moduleFooter,
.covid19 .btn {
    background-color: #FFEE00;
    color: #07101a;
}

.covid19 .moduleHeader h2 a {
    color: #07101a;
}

.covid19 .sideitem h3 {
    font-weight: 400;
}

.wellbeing-hub-indicator .sideitem i.covid19 {
    color: #07101a
}


/*CSO Surveys blue*/
/* same as csblue */
/* contrast with white: 3.38 */

.carousel .surveyblue i.fa,
.surveyblue .moduleBody li a:before,
.surveyblue .moduleBody li p:before,
.surveyblue .accordion h3 a,
.surveyblue .accordion > div li a:before,
.footer .contact.surveyblue i,
.surveyblue.multiList .moduleBody li a,
.text-lead.surveyblue,
.text-highlight.surveyblue,
.text-large.surveyblue,
.text-surveyblue {
    color: #007a90;
}

.surveyblue .moduleHeader,
.homepage .surveyblue .moduleFooter,
.surveyblue .btn,
.sideitem.surveyblue {
    background-color: #007a90;
}

.wellbeing-hub-indicator .sideitem i.surveyblue {
    color: #007a90
}


/* Light Purple */

.sideitem.light-purple {
    background-color: #F5F6FA;
    color: #35456B;
}
.sideitem.light-purple h3 a {
    color: #35456B;
}
.sideitem.light-purple .btn {
    background-color: #E6E9F2;
    color: #35456b;
}


/* MISC */

/* contrast with white: 12.07 */
.sideitem.darkGreen {
    background-color: #003D3F;
}

.carousel h3 i.fa {
    color: #ffffff !important;
    font-size: 18px;
}

/*
.sideitem a:hover i.fa-angle-right::before {
    content: '\f138';
}
*/