/**********************************************************************************************

******************************** RESONSIVE GRID ***********************************************

***********************************************************************************************/


/*BASIC GRID STRUCTURE
***************************************************/


/*containers*/

.container {
    width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container.shade {
    background: #ebe7e1;
    padding-bottom: 50px;
    margin-top: 40px;
}

.container:before,
.container:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}

.container:after {
    clear: both;
}


/*rows*/

.row {
    width: 100%;
    padding: 0 50px;
    margin: 70px auto 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer .row {
    margin: 20px auto 0;
}

.row.quickStats {
    background: #579599;
    margin-top: 0px;
}

.row.fullwidth {
    max-width: 100%;
    padding: 0;
}

.row:before,
.row:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}

.row:after {
    clear: both;
}


/*columns*/

.col {
    float: left;
    position: relative;
    padding: 0 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col:before,
.col:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}

.col:after {
    clear: both;
}

.col.right {
    float: right;
}

.text-right {
    text-align: right;
}

.span1 {
    width: 8.333333333333%;
}

.span2 {
    width: 16.666666666667%;
}

.span3,
.columnRightinner-rightcol {
    width: 25%;
}

.span4 {
    width: 33.333333333333%;
}

.span5 {
    width: 41.666666666667%;
}

.span6,
.columnRightinner-split,
.columnLeftinner-split {
    width: 50%;
}

.columnLeftinner-split,
.columnLeftinner-rightcol {
    border-right: 1px solid #d1d9e1;
}

.span7 {
    width: 58.333333333333%;
}

.span8 {
    width: 66.666666666666%;
}

.span9,
.columnLeftinner-rightcol {
    width: 75%;
}

.span10 {
    width: 83.333333333333%;
}

.span11 {
    width: 91.666666666667%;
}

.span12,
.columnLeftfullwidth {
    width: 100%;
}


/*images*/

img {
    width: 100%;
}

.copy img {
    max-width: 100%;
    height: auto !important;
}