.illustrated-chapter-list.standalone-list {
    margin-bottom: 2em;
}

.illustrated-chapter-list .chapter-list-link {
    display: block;
    text-decoration: none;
}

.illustrated-chapter-list.standalone-list .chapter-list-link {
    max-width: 800px;
    background-color: #daf2e9;
}

.illustrated-chapter-list .chapter-list-link:hover {
    background-color: #bce4e3;
}

.illustrated-chapter-list.standalone-list .chapter-list-link:hover {
    background-color: #daf0f2;
}

.illustrated-chapter-list .chapter-link-block {
    min-height: 4.25rem;
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 80px;
    border-bottom: 1px solid #fff;
}

.illustrated-chapter-list.standalone-list .chapter-link-block {
    margin: 0 0 0.25rem;
    border: none;
}

.illustrated-chapter-list .people--block {
    background: url('<t4 type="media" id="177141" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .profiles--block {
    background: url('<t4 type="media" id="177242" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .life-events--block {
    background: url('<t4 type="media" id="177243" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .society--block {
    background: url('<t4 type="media" id="177145" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .environment--block {
    background: url('<t4 type="media" id="177787" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .equality-discrim--block {
    background: url('<t4 type="media" id="208993" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .labour-market--block {
    background: url('<t4 type="media" id="177788" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .info-society--block {
    background: url('<t4 type="media" id="177789" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .health--block {
    background: url('<t4 type="media" id="177790" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .education--block {
    background: url('<t4 type="media" id="177791" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .social-inclusion--block {
    background: url('<t4 type="media" id="177792" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .household-budget--block {
    background: url('<t4 type="media" id="177793" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .business--block {
    background: url('<t4 type="media" id="177139" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .bus-info-society--block {
    background: url('<t4 type="media" id="177776" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .services--block {
    background: url('<t4 type="media" id="177777" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .industry--block {
    background: url('<t4 type="media" id="177778" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .building--block {
    background: url('<t4 type="media" id="177779" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .business-irl--block {
    background: url('<t4 type="media" id="177780" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .gender-bal-bus--block {
    background: url('<t4 type="media" id="208992" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .economy--block {
    background: url('<t4 type="media" id="177140" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .national-accounts--block {
    background: url('<t4 type="media" id="177781" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .bop--block {
    background: url('<t4 type="media" id="177783" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .trade--block {
    background: url('<t4 type="media" id="177784" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .prices--block {
    background: url('<t4 type="media" id="177785" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .earnings--block {
    background: url('<t4 type="media" id="177786" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .tourism-transport--block {
    background: url('<t4 type="media" id="177146" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .tourism-travel--block {
    background: url('<t4 type="media" id="177794" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .transport--block {
    background: url('<t4 type="media" id="177795" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .agriculture--block {
    background: url('<t4 type="media" id="177138" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .agri-holdings--block {
    background: url('<t4 type="media" id="177770" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .agri-crops-livestock--block {
    background: url('<t4 type="media" id="177772" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .agri-accounts-prices--block {
    background: url('<t4 type="media" id="177773" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .fishing--block {
    background: url('<t4 type="media" id="177775" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .northern-ireland--block {
    background: url('<t4 type="media" id="177836" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .appendix--block {
    background: url('<t4 type="media" id="177837" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .chapter-link-block dt,
dd {
    margin: 0;
    padding: 0;
}

.illustrated-chapter-list .chapter-link-block dt {
    font: bold 20px/1.5 "Roboto Slab", Calibri, "Droid Sans", sans-serif;
    color: #00b0ad;
}

.illustrated-chapter-list.standalone-list .chapter-link-block dt {
    color: #006F74;
}

.illustrated-chapter-list .chapter-list-link:hover dt {
    color: #5b6670;
}

.illustrated-chapter-list.standalone-list .chapter-list-link:hover dt {
    color: #006271;
}

.illustrated-chapter-list .chapter-link-block dd {
    color: #5b6670;
}


/*2020 yearbook icons start*/

.illustrated-chapter-list .covid-ecomony--block {
    background: url('<t4 type="media" id="254269" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .covid-health--block {
    background: url('<t4 type="media" id="254270" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .covid-labour-force--block {
    background: url('<t4 type="media" id="254271" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .covid-main--block {
    background: url('<t4 type="media" id="254272" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .covid-society1--block {
    background: url('<t4 type="media" id="254274" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .covid-society2--block {
    background: url('<t4 type="media" id="254275" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .covid-transport--block {
    background: url('<t4 type="media" id="254276" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .ni-agriculture--block {
    background: url('<t4 type="media" id="254277" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .ni-business--block {
    background: url('<t4 type="media" id="254278" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .ni-society--block {
    background: url('<t4 type="media" id="254279" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .ni-ttt--block {
    background: url('<t4 type="media" id="254280" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .ni-view-infographic--block {
    background: url('<t4 type="media" id="254281" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .society-household-finance--block {
    background: url('<t4 type="media" id="254282" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .society-pensions--block {
    background: url('<t4 type="media" id="254283" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .ttt-transport--block {
    background: url('<t4 type="media" id="254285" formatter="path/*"/>') no-repeat 0.25em center;
}


/*2020 yearbook icons end*/


/* 2021 icons */

.illustrated-chapter-list .carers--block {
    background: url('<t4 type="media" id="301389" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .life-at-home--block {
    background: url('<t4 type="media" id="301390" formatter="path/*"/>') no-repeat 0.25em center;
}

.illustrated-chapter-list .covid-income-supports--block {
    background: url('<t4 type="media" id="301391" formatter="path/*"/>') no-repeat 0.25em center;
}


/* 2021 icons end */