@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto Slab', serif;
    margin: 10px;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.infographic img {
    border: 1px solid #ccc;
}

a {
    color: #000;
    text-decoration: none;
}


/* Container Styles */

.filters-container,
.infographics-container {
    width: 100%;
    margin: 25px auto;
}


/* Filter Styles */

.filters-container h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.filters li {
    margin: 5px;
    width: 15%;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    flex-direction: column;
}

.filters .video-thumbnails {
    box-shadow: none;
    width: auto;
    flex-direction: column;
}

.filters li a {
    display: block;
    padding: 15px;
    color: #fff;
    flex: 1;
    font-size: 1.1em;
}

.people-society-pg .main-heading,
.people-society {
    background-color: #5BC1A5;
}

.census-pg .main-heading,
.census {
    background-color: #FAA21B;
}

.business-pg .main-heading,
.business {
    background-color: #004F50;
}

.labour-pg .main-heading,
.labour-earnings {
    background-color: #1D345C;
}

.economy-pg .main-heading,
.economy {
    background-color: #B7BE34;
}

.environment-pg .main-heading,
.environment {
    background-color: #00B0AD;
}

.other-pg .main-heading,
.other {
    background-color: #d3205c;
}

.filters li:hover {
    opacity: .8;
}


/* Landing Page Filters */

.landing-pg .filters-container h3 {
    justify-content: center;
}

.landing-pg .filters {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.landing-pg .filters li {
    margin: 20px;
    width: 30%;
    height: 250px;
}

.landing-pg .filters li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 92.5%;
    color: #fff;
    flex: 1;
    font-size: 1.5em;
    text-transform: uppercase;
}

.filters li a span {
    margin: 15px 0;
}


/* Main Heading Styles */

.main-heading {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #006168;
    color: #fff;
    border: 1px solid #ccc;
    margin: 0 0 15px 0;
    padding: 0 25px 0 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
}

.main-heading h1:last-of-type {
    padding: 0 25px 0 0;
}

.main-heading i {
    padding: 0 0 0 5px;
}

.main-heading h2 {
    color: #fff;
}


/* Year Heading Styles */

.year-heading {
    background-color: #ffffff;
    color: #000;
    width: 90%;
    border-bottom: 1px solid #ccc;
    margin: 25px 0;
    padding: 0 0 0 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5em;
    text-align: left;
}

.year-heading h2 {
    margin: 10px auto;
}


/* Infographics Container Styles */

.infographics-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    /*justify-content: center;*/
}


/* Infographic Styles */

.infographic {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    cursor: pointer;
}

a.first-child {
    min-height: 150px;
}


/*.infographic:hover .release {
    opacity: 1;
}*/


/* Title Styles */

.title {
    text-align: center;
    padding: 10px;
    font-weight: bold;
}


/* Release Styles */

a.release {
    text-align: center;
    font-weight: 300;
    background-color: #006168;
    color: #fff;
    padding: 5px;
    letter-spacing: 1px;
    margin: 10px auto;
    opacity: 1;
    transition: all .3s ease-in-out;
}

.container.content {
    min-height: 0;
}


/* Media Queries */

@media screen and (max-width: 1300px) {
    .infographic {
        width: 40%;
    }
    .landing-pg .filters li {
        width: 45%;
    }
}

@media screen and (max-width: 1200px) {
    .filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .filters li {
        width: 45%;
    }
}

@media screen and (max-width: 1000px) {
    .landing-pg .filters li {
        width: 70%;
    }
    .filters {
        display: flex;
        flex-wrap: wrap;
    }
    .filters li {
        width: 100%;
    }
    .article {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .infographic {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    .landing-pg .filters li {
        width: 100%;
        height: 100px;
        margin: 4px auto;
    }
    .landing-pg .filters li a {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        text-transform: uppercase;
    }
    .landing-pg .filters li a i {
        font-size: 1.5em;
    }
    .landing-pg .filters li a i {
        font-size: 2.5em;
    }
    .infographics-container {
        margin: 10px auto;
    }
    .main-heading {
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .main-heading h1 {
        margin: 0;
        padding: 10px;
    }
    .main-heading h1:last-of-type {
        padding: 10px;
    }
    .year-heading {
        width: 90%;
        margin: 20px auto;
        padding: 0;
    }
    .infographic {
        width: 90%;
    }
}