.highchart,
.highmap {
    height: auto;
    width: 800px;
    margin: 10px 0;
}

.PublicationIndicatorText {
    float: none;
    /*width:800px;*/
    margin-top: 15px;
}

.ERtable {
    border: none;
}

.yearBookIndicator {
    border: 2px solid #505050;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 10px 40px 10px;
    margin-bottom: 20px;
}

.yearBookIndicator h2 {
    font-size: 18px;
}

.HideTable {
    margin: 5px 5px 5px 0;
}

.indicatorHeading h2 {
    color: #024972;
    font-size: 24px;
    font-weight: 700;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCCDCD;
    margin: 0 15px 0 0;
    padding: 5px 0 2px;
}

.indicatorHeading {
    width: 800px;
    float: left;
}

.printIndicatorYB {
    float: right;
}


/*h1 {
    color:#024972;
    font-size:45px;
    font-weight:700;
    margin:19px 0 4px;
    padding:0;
    }*/

h2 {
    color: #024972;
    font-size: 15px;
    font-weight: 700;
    margin: 19px 0 4px;
    padding: 0;
}

h3 {
    color: #024972;
    font-size: 14px;
    font-weight: 700;
    margin: 19px 0 4px;
    padding: 0;
}

h4 {
    color: #024972;
    font-size: 13px;
    font-weight: 700;
    margin: 19px 0 4px;
}

h5 {
    color: #024972;
    font-size: 12px;
    font-weight: 700;
    margin: 19px 0 4px;
    padding: 0;
}

h6 {
    color: #024972;
    font-size: 11px;
    font-weight: 700;
    margin: 19px 0 4px;
    padding: 0;
}

.indexHeading {
    margin: 19px 0 20px;
}

.excelTable {
    display: none;
}

.inner-rightcol .contentBlock {
    /*background-color:#E1E1E1;*/
}

.popupLink a {
    display: block;
    color: #545353 !important;
    background: url('<t4 type="media" id="64749" />');
    background-position: 95% 50%;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    width: 800px;
    margin: 10px 10px 10px 0;
    padding: 10px;
}

.popupLink a:active {
    color: #545353 !important;
    text-decoration: none;
    background-color: #F0F0F0;
    ;
}

.popupLink a:hover {
    text-decoration: none !important;
    background-color: #F0F0F0;
}

.popupLink a:link,
.popupLink a:visited {
    color: #545353 !important;
    text-decoration: none;
}

.indicatorHeadlineTable {
    /*width: 800px;*/
    margin: 10px;
}

.er_headlineTable {
    padding-left: 8px;
    margin-bottom: 5px;
    background-color: #FFFFFF;
}


/*.indicatorHeadlineTable table td 
    {
    
    background:#FFFFFF;
    }
    
    .indicatorHeadlineTable table tr:hover td
    {
    
    background: #EDEDED;
    }*/

.indicatorHeadlineTable table {
    /*width: 100%;*/
}

.highchartTable,
.pieDataTable {
    display: none;
}

.pieChart1 {
    float: left;
    margin-right: 10px;
}

.pieGeneralText {
    text-align: left;
}

.OSiAcknowledgement {
    text-align: left !important;
}

.highmap {
    border: 2px solid #366291;
    border-radius: 8px;
    overflow: hidden;
}


/* icons for 2018 Yearbook Life Events Table */

.area-info h2 {
    background: #35456b url('<t4 type="media" id="176065" formatter="path/*"/>') no-repeat right 1rem center;
}

.area-info li.births--list {
    background-color: #ffcb47;
    background-image: url('<t4 type="media" id="176344" formatter="path/*"/>');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
}

.area-info li.boy--name {
    background-color: #ffd97d;
    background-image: url('<t4 type="media" id="176066" formatter="path/*"/>');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
}

.area-info li.girl--name {
    background-color: #ffe7af;
    background-image: url('<t4 type="media" id="176343" formatter="path/*"/>');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
}

.area-info li.marriages--list {
    background-color: #6ac5ad;
    background-image: url('<t4 type="media" id="176345" formatter="path/*"/>');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
}

.area-info li.bride--list {
    background-color: #98d4c2;
    background-image: url('<t4 type="media" id="177552" formatter="path/*"/>');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
}

.area-info li.groom--list {
    background-color: #c1e4d7;
    background-image: url('<t4 type="media" id="177553" formatter="path/*"/>');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
}

.area-info li.deaths--list {
    background-color: #61c6c6;
    background-image: url('<t4 type="media" id="176346" formatter="path/*"/>');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
}