/* Styles for Surveys Campaign pages */


/* Last updated 16-8-19 -- RFS */

.featuredIntro {
    padding-bottom: 1.33rem;
    border-bottom: 10px solid #00b3c7;
}

.featuredIntro.pink {
    border-bottom-color: #C74673;
}

@media all and (min-width: 768px) {
    .featuredIntro {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
}

.featuredIntro .featuredIntro__img {
    padding: 0;
    margin-right: 2rem;
    flex: 0 1 350px;
}

.featuredIntro .featuredIntro__img.featuredIntro__img__square {
    flex: 0 1 250px;
}

.featuredIntro .featuredIntro__img img {
    display: block;
    height: auto;
    width: 100%;
    max-width: 100%;
}

.featuredIntro .featuredIntro__lead {
    color: #5b6670;
    align-self: flex-end;
    flex-grow: 1;
    padding-top: 1rem;
}

.featuredIntro .featuredIntro__lead .logo {
    margin-bottom: 2rem;
}

.featuredIntro .featuredIntro__lead h2 {
    font-weight: bold;
}

.featuredIntro.pink .featuredIntro__lead h2 {
    color: #732857;
}

.featuredIntro .featuredIntro__lead p {
    font-size: 1.2rem;
    font-family: Roboto Slab;
}

hr.surveyPage__divider {
    clear: both;
    height: 0;
    border: 0;
    border-bottom: 10px solid #00b3c7;
}

hr.page__divider.pink {
    clear: both;
    height: 0;
    border: 0;
    border-bottom: 10px solid #C74673;
}

.surveyPage__highlight {
    background-color: #daf0f2;
    padding: 0.25rem 1rem;
}

.contentPage__highlight,
.contentPage__highlight.purple {
    background-color: #e6e9f2;
    padding: 0.25rem 1rem;
}

.contentPage__highlight.mint {
    background-color: #daf2ed;
}

.contentPage__highlight.bluegrey {
    background-color: #f2f7fa;
}

h2.surveyPage__surveyHeading,
h3.surveyPage__surveyHeading {
    font-weight: bold;
    color: #2E8D9C;
}

h4.surveyPage__surveyHeading {
    color: #5B6771;
}